
// -----------------------------------
// ||            General            ||
// -----------------------------------

$responsive_breakpoint: 'md';
$section_padding: 10vw 5vw;
$fullwidth_padding_sides: 2vw;
$website_maxwidth: 1140px;
$pinned_info_animtime: 0.4s;

// Couleurs
$color_white: #ffffff;
$color_black: #000000;
$color_black2: #333333;
$main_bg_color: $color_white;
$color_jaune: #f3da58;
$color_jaunefonce: #c4ad37;
$color_jaunepale: #f2f2e8;
$color_jaunepale2: #e7e5d3;
$color_gris: #999999;
$color_grisclair: #dddddd;
$color_lightgrey: #e0e0e0;
$color_rouge: #a00000;


// Liens
$links_color: $color_jaunefonce;
$links_hover: $color_jaunefonce;
$links_weight: 700;
$links_decoration: none;


$back_to_top_decalage: 70px;
$back_to_top_size: 40px;


// ----------------------------------
// ||            Navbar            ||
// ----------------------------------

// Général
$navbar_contained: 1; // Limiter la largeur des navlinks avec un container (0 ou 1)
$navbar_position: fixed_top; // Mettre la navbar en fixed ou en classic. Valeurs : fixed_top, fixed_bottom, classic
$navbar_width: 100%; // En fixed, utiliser "auto" pour que la navcbar fasse la largeur minimum nécessaire
$navbar-padding-y: 0.5rem;
$navbar-padding-x: 1rem;
$navbar_bgcolor: $color_jaune;
$navbar_bggradient: 0; // 0 pour désactiver le gradient. Synthaxe : linear-gradient(to right, color, color, color)
$navbar_shadow_height: 0; // 0 = désactive la shadow
$navbar_shadow_opacity: 0.3;
$navbar_links_align: right; // Valeurs : left, center, right

// Logo
$navbar_brand_height: 50px;
$navbar_brand_vertical_position: middle; // Valeurs : top, middle, bottom

// Apparence des liens
$navbar_links_fontsize: 0.95rem;
$navbar_links_fontweight: 400;
$navbar_links_color: $color_black;
$navbar_links_bgcolor: transparent;
$navbar_links_border_radius: 0px;
$navbar_links_padding-x: 10px;
$navbar_links_padding-y: 0.25rem;
$navbar_links_margin: 0px 6px;
$navbar_links_forceuppercase: 0;
// Hover des liens
$navbar_links_color_hover: lighten($color_black, 35%);
$navbar_links_bgcolor_hover: transparent;
$navbar_links_border_radius_hover: 0px;
$navbar_links_animtime: 0.15s;

// Dropdowns
$navbar_dropdown_position: below; // above = par dessus le lien d'ouverture, below = calé sous le lien, 
$navbar_dropdown_bgcolor: $color_lightgrey;
$navbar_dropdown_padding-x: 0;
$navbar_dropdown_padding-y: 0.6rem;
$navbar_dropdown_bordersize: 0;
$navbar_dropdown_bordercolor: transparent;
$navbar_dropdown_borderradius: 0;
$navbar_dropdown_shadow: none; // Synthaxe :  -6px 6px 12px rgba(0, 0, 0, 0.4)
$navbar_dropdown_link_color: $color_black;
$navbar_dropdown_link_colorhover: $color_black;
$navbar_dropdown_links_bghover: transparent;
$navbar_dropdown_links_forceuppercase: 0;
$navbar_dropdown_links_padding-x: 1.3rem;
$navbar_dropdown_links_padding-y: 0.3rem;
$navbar_dropdown_links_align: left; // Valeurs : left, right, center
$navbar_dropdown_animation_type: slide; // Types possibles : none, unfold (conseil: padding dropdown 0), opacify, slide, slide_fixed_title
$navbar_dropdown_animation_time: 0.1s;


// Nav underline (hover)
$navbar_underline_use: 0; // Activer ou désactiver l'underline (0 ou 1)
$navbar_underline_color: #a0a050;
$navbar_underline_popdirection: left; // Valeurs : left, right, center, bottom
$navbar_underline_width: 50%;
$navbar_underline_height: 4px;
$navbar_underline_animtime: 0.25s;

// Nav icons
$navbar_iconcontainer_animtime: 0.2s;
$navbar_icon_margin: 0px;
$navbar_icon_size: 1.1rem;
$navbar_icon_border_size: 0px;
$navbar_iconcontainer_border: none;
$navbar_iconcontainer_borderradius: 1000px;
$navbar_iconcontainer_padding: 0px;
$navbar_iconcontainer_bgcolor: transparent;
$navbar_iconcontainer_border_hover: none;
$navbar_iconcontainer_borderradius_hover: 1000px;
$navbar_iconcontainer_bgcolor_hover: rgba(255, 0, 0, 0.3);

// Toggler
$navbar_toggler_animation: 1; // Activer ou désactiver l'animation (0 ou 1)
$navbar_toggler_animtime: 0.2s;
$navbar-toggler-padding-y: 0.5rem;
$navbar-toggler-padding-x: 0.5rem;
$navbar_togglericon_size: 16px; // Taille de l'icone des 3 barres
$navbar_togglericon_width: 30px; // Valeurs : none si on veut un carré, taille si on veut spécifier une largeur
$navbar_toggler_borderradius: 0px;
$navbar_toggler_border: 0px solid transparent;
$navbar_toggler_bgcolor: $color_black;
$navbar_toggler_position: right; // Valeurs : left, right
$navbar_toggler_distance: 0px;
$navbar_togglerbar_height: 4px;
$navbar_togglerbar_color: $color_jaune;

// Comportement en mode collapsed
$navbar_collapse_breakpoint: md;
$navbar_collapse_nobar: 0; // Afficher la version collaspe sans barre de nav, avec juste le toggle (0 ou 1)
$navbar_collapse_direction: vertical; // Valeurs : horizontal, vertical (penser à changer la class "width" sur navbar-collapse dans l'html)
$navbar_collapse_position: right; // Valeurs : top, bottom, left, right
$navbar_collapse_height: 100vh;
$navbar_collapse_width: 100%;
$navbar_collapse_bgcolor: $color_jaune; // Valeurs : couleur, keep (garder la couleur non collapse)
$navbar_collapse_content_vertical_align: center; // Valeurs : top, center, bottom
$navbar_collapse_content_horizontal_align: center; // Valeurs : left, center, right
$navbar_collapse_col_padding: 5vw;
$navbar_collapse_etage_padding: 0;
$navbar_collapse_keep_underline: 0; // 0 ou 1
$navbar_collapse_links_color: $color_black; // Valeurs : couleur, keep (garder la couleur non collapse)
$navbar_collapse_links_fontsize: 1.1rem;
$navbar_collapse_links_fontweight: 300;
$navbar_collapse_links_centering: left; // Valeurs : left, right, center
$navbar_collapse_opened_dropdown: 1; // 0 ou 1
$navbar_collapse_dropdown_decalage: 0px;

// Variables boostrap à réinitialiser
$navbar-brand-padding-y: 0;




// ----------------------------------
// ||       Nav departements       ||
// ----------------------------------
$depnav_bgcolor: $color_black2;
$depnav_nom_bgcolor: $color_lightgrey;





// ---------------------------------
// ||            Forms            ||
// ---------------------------------

/*$form_label_fontsize: 1rem;
$form_label_fontweight: 500;
$form_label_fontstyle: none;
$form_label_marginbottom: 0px;
$form_label_paddingleft: 0px;
$form_radiochecklabel_fontsize: 1rem;
$form_radiochecklabel_fontweight: 500;
$form_radiochecklabel_fontstyle: none;
$form_radiochecklabel_marginbottom: 0px;
$form_radiochecklabel_paddingleft: 1.25rem;
$form_input_padding: 0.375rem 0.75rem;
$form_input_border: none;
$form_input_border_green: 2px solid $color_black;
$form_input_border_red: 2px solid $color_error;
$form_input_borderradius: 0;
$form_input_fontcolor: $color_black;
$form_input_bgcolor: $color_white;
$form_input_fontsize: 1rem;
$form_input_fontweight: 500;
$form_input_fontstyle: none;
$form_input_marginbottom: 0px;
$form_input_placeholder_color: pink;*/



// ----------------------------------
// ||            Footer            ||
// ----------------------------------

$footer_padding: calc(2vw + 20px);
$footer_bgcolor: $color_black2;
$footer_separateur_horizontal: 20px;
$footer_separateur_vertical: 30px;
$footer_txtcolor: $color_white;
$footer_link_color: $color_jaune;
$footer_link_hover_color: $color_white;
$footer_link_underline: 0; // 0 ou 1