
// -----------------------------------
// ||           Carousels           ||
// -----------------------------------


// -------------- Options --------------
$carousel_id: 'carousel_accueil';
$carousel_height: 500px;
$carousel_width: 100%;
$carousel_control_width: 5%;
$carousel_control_size: 4rem;
$carousel_control_align: center; // top, bottom, center
$carousel_control_distance: 80px;
$carousel_indicators_bottom_distance: 20px;
$carousel_indicators_height: 12px;
$carousel_indicators_width: 12px;
$carousel_indicators_spacing: 6px;
$carousel_indicators_color: rgba($color_white, 0);
$carousel_indicators_border: 1px solid $color_white;
$carousel_indicators_borderradius: 1000px;
$carousel_indicators_active_color: rgba($color_white, 0);
$carousel_indicators_active_border: keep; // keep = garder valeur non active
$carousel_indicators_center_size: 0px;
$carousel_indicators_center_color: rgba($color_white, 0);
$carousel_indicators_active_center_size: 6px;
$carousel_indicators_active_center_color: rgba($color_white, 1);
$carousel_indicators_transition: 0.5s;
// -------------------------------------
##{$carousel_id} {
	background-color: $color_lightgrey;
	position: relative;
	height: $carousel_height;
	width: $carousel_width;
	color: $color_white;


	.carousel-item {
		.txt_container, .info_droite, .info_bas, .overlay {
			opacity: 0;
			transition: 0.8s;
		}
	}
	.carousel-item.active, .carousel-item-left, , .carousel-item-right {
		.txt_container, .info_droite, .info_bas, .overlay {
			opacity: 1;
		}
	}

	.slide1 {
		.txt_container {
			position: absolute;
			left: 10vw;
			top: 50%;
			transform: translateY(-50%);
			color: $color_white;

			h1 {
				font-size: 3.5rem;
				font-weight: 900;
			}

			p {
				font-size: 1.5rem;
				font-weight: 300;
			}
		}

		.info_droite, .info_bas {

		}

		.info_droite {
			position: absolute;
			top: 20px;
			right: 60px;

			img {
				position: relative !important;
				display: block;
				z-index: 10 !important;
				width: 100px !important;
				height: auto !important;
			}

			p {
				margin: 0;
				position: absolute;
				width: 18rem;
				bottom: 25px;
				right: 30px;
				font-size: 1.05rem;
				font-weight: 700;
			}
		}

		.info_bas {
			position: absolute;
			bottom: 30px;
			left: 60%;

			img {
				position: relative !important;
				display: block;
				z-index: 10 !important;
				width: auto !important;
				height: 130px !important;
			}

			p {
				margin: 0;
				position: absolute;
				width: 23rem;
				top: 10px;
				left: 40px;
				font-size: 1.05rem;
				font-weight: 700;
			}
		}
	}

	/*.slide2, .slide3, .slide4, .slide5 { display: flex; justify-content: center; align-items: center; }*/

	.overlay {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		height: 230px;
		width: 80%;

		.screenshot {
			//width: 37%;
			flex-grow: 0;

			img {
				display: block;
				//display: none;
				height: 100%;
				width: 350px;
			}
		}

		.txt_container {
			width: 100%;
			color: $color_white;
			padding-left: 5vw;

			h1 {
				font-size: calc(2rem + 1vw);
				font-weight: 900;
			}

			p {
				font-size: 1.4rem;
				font-weight: 300;
				//br { display: initial; }
			}
		}

		.lien_exemple {
			font-size: 0.75rem;
			margin-left: auto;
		}
		
	}

	@media (max-width: 1350px) {
		.overlay {
			br {
				display: none !important;
			}
		}
	}

	@include media-breakpoint-down($responsive_breakpoint) {
		.slide1 {
			.txt_container {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				white-space: nowrap;

				h1 {
					font-size: 2.1rem;
				}

				p {
					font-size: 1rem;
				}
			}

			.info_droite { 
				right: 60px;
				p {
					font-size: 0.9rem;
					width: 15rem;
				}
			}

			.info_bas { 
				left: 10%;
				p {
					font-size: 0.9rem;
					width: 20rem;
				}
			}
		}

		.overlay {
			height: 410px;
			flex-direction: column;

			.screenshot {
				margin-bottom: 20px;

				img {
					height: auto;
					width: 250px;
					margin: auto;
				}
			}

			.txt_container {
				padding: 0;
				text-align: center;

				h1 {
					display: block;
					width: 100%;
					font-size: 1.8rem;
				}

				p {
					font-size: 1.1rem;
					//br { display: none; }
				}
			}
		}
	}






	.content_over_carousel {
		position: absolute;
		z-index: 10;
	}
	.carousel-inner {
		position: relative; height: 100%; width: 100%;
		.carousel-item {
			height: 100%; width: 100%;
			.bg_image {
				position: absolute;
				z-index: -100;
				top: 0; left: 0;
				width: 100%; height: 100%;
				object-fit: cover;
			}
		}
	}
	.carousel-control {
		width: $carousel_control_width;
		@if $carousel_control_align == top { 
			align-items: start;
			padding-top: $carousel_control_distance;
		}
		@if $carousel_control_align == bottom {
			align-items: end;
			padding-bottom: $carousel_control_distance;
		}
	}
	.carousel-control-prev { font-size: $carousel_control_size; }
	.carousel-control-next { font-size: $carousel_control_size; }
	.carousel-indicators {
		@if $carousel_indicators_transition != 0 { transition: $carousel_indicators_transition; }
		cursor: pointer;
		margin: 0;
		bottom: $carousel_indicators_bottom_distance;
		li {
			@if $carousel_indicators_transition != 0 { transition: $carousel_indicators_transition; }
			height: $carousel_indicators_height;
			width: $carousel_indicators_width;
			margin: 0 $carousel_indicators_spacing / 2;
			background-color: $carousel_indicators_color;
			border: $carousel_indicators_border;
			border-radius: $carousel_indicators_borderradius;
			.carousel-indicator-inside {
				@if $carousel_indicators_transition != 0 { transition: $carousel_indicators_transition; }
				@extend %absolutecenter_xy;
				border-radius: $carousel_indicators_borderradius;
				height: $carousel_indicators_center_size;
				width: $carousel_indicators_center_size;
				background-color: $carousel_indicators_center_color;
			}
		}
		li.active {
			background-color: $carousel_indicators_active_color;
			@if $carousel_indicators_active_border == keep {
				border: $carousel_indicators_border;
			} else {
				border: $carousel_indicators_active_border;
			}
			.carousel-indicator-inside {
				@extend %absolutecenter_xy;
				height: $carousel_indicators_active_center_size;
				width: $carousel_indicators_active_center_size;
				background-color: $carousel_indicators_active_center_color;
			}
		}
	}
}


// ALL CAROUSELS
.carousel {
	position: relative;
	.content_over_carousel {
		position: absolute;
		z-index: 10;
	}
	.carousel-inner {
		position: relative; height: 100%; width: 100%;
		.carousel-item {
			height: 100%; width: 100%;
			/*img {
				position: absolute;
				z-index: -100;
				top: 0; left: 0;
				width: 100%; height: 100%;
				object-fit: cover;
			}*/
		}
	}
	.carousel-indicators {
		cursor: pointer;
		margin: 0;
		li {
			.carousel-indicator-inside {
				@extend %abcenter_xy;
			}
		}
		li.active {
			.carousel-indicator-inside {
				@extend %abcenter_xy;
			}
		}
	}
}

// -------------- Options --------------
$carousel_height: 100%;
$carousel_width: 100%;
$carousel_control_width: 5%;
$carousel_control_size: 3rem;
$carousel_control_align: center; // top, bottom, center
$carousel_control_distance: 30px;
$carousel_indicators_bottom_distance: 0;
$carousel_indicators_height: 15px;
$carousel_indicators_width: 15px;
$carousel_indicators_spacing: 6px;
$carousel_indicators_color: rgba($color_white, 0);
$carousel_indicators_border: 1px solid $color_white;
$carousel_indicators_borderradius: 1000px;
$carousel_indicators_active_color: rgba($color_jaune, 0);
$carousel_indicators_active_border: keep; // keep = garder valeur non active
$carousel_indicators_center_size: 0px;
$carousel_indicators_center_color: rgba($color_jaune, 0);
$carousel_indicators_active_center_size: 15px;
$carousel_indicators_active_center_color: rgba($color_jaune, 1);
$carousel_indicators_transition: 0.5s;
// -------------------------------------
.carousel_galerie {
	height: $carousel_height;
	width: $carousel_width;
	.carousel-inner {
		.carousel-item {}
	}
	.carousel-control {
		width: $carousel_control_width;
		opacity: 1;

		@if $carousel_control_align == top { 
			align-items: start;
			padding-top: $carousel_control_distance;
		}
		@if $carousel_control_align == bottom {
			align-items: end;
			padding-bottom: $carousel_control_distance;
		}

		* {
			
		}

		i {
			color: $color_white;
			transition: 0.1s;
		}
		
	}
	.carousel-control:hover {
		i {
			color: $color_jaune;
			transform: scale(1.2);
		}
	}
	.carousel-control-prev { font-size: $carousel_control_size; transform: translateX(-100%); }
	.carousel-control-next { font-size: $carousel_control_size; transform: translateX(100%); }
	.carousel-indicators {
		@if $carousel_indicators_transition != 0 { transition: $carousel_indicators_transition; }
		bottom: $carousel_indicators_bottom_distance;
		li {
			@if $carousel_indicators_transition != 0 { transition: $carousel_indicators_transition; }
			height: $carousel_indicators_height;
			width: $carousel_indicators_width;
			margin: 0 $carousel_indicators_spacing / 2;
			background-color: $carousel_indicators_color;
			border: $carousel_indicators_border;
			border-radius: $carousel_indicators_borderradius;
			.carousel-indicator-inside {
				@if $carousel_indicators_transition != 0 { transition: $carousel_indicators_transition; }
				border-radius: $carousel_indicators_borderradius;
				height: $carousel_indicators_center_size;
				width: $carousel_indicators_center_size;
				background-color: $carousel_indicators_center_color;
			}
		}
		li.active {
			background-color: $carousel_indicators_active_color;
			@if $carousel_indicators_active_border == keep {
				border: $carousel_indicators_border;
			} else {
				border: $carousel_indicators_active_border;
			}
			.carousel-indicator-inside {
				height: $carousel_indicators_active_center_size;
				width: $carousel_indicators_active_center_size;
				background-color: $carousel_indicators_active_center_color;
			}
		}
	}
}