

.formulaire_connexion, .formulaire_inscription {
	max-width: 600px;
	padding: 30px 6%;
	margin: auto;
	margin-top: 40px;

	label, input, select {
		display: block;
		width: 100%;
	}

	label {
		margin-bottom: 4px;
	}

	input {
		margin-bottom: 8px;
		border: 0;
		padding: 2px 4px;
	}

	select {
		margin-bottom: 8px;
	}

	p {
		margin-bottom: 8px;
	}

	

	#rememberme, #accept_cgu {
		appearance: checkbox !important;
		display: inline-block;
		margin: 0;
		margin-right: 6px;
		height: 10px;
		width: 10px;
		background-color: $color_white;
		opacity: 1;
	}
	.cgu_check_container {
		margin-top: 20px;
		font-size: 0.9rem;
	}
	.cgulink {
		font-weight: 500;
		color: $color_jaune;
	}

	.btn_slide_inscription {
		display: inline !important;
		padding: 2px 6px;
		font-size: 0.8rem;
		font-weight: 600;
	}

	.bouton_type_1, .button {
		margin-top: 16px;
	}

	.lien_pass_oublie {
		font-size: 0.9rem;
	}

	.user-submit {
		margin: 0;
	}

	.lien_pass_oublie {
		display: block;
		text-align: center;
		color: $color_jaune;
		text-decoration: none;
	}

	.passwordreset_separator {
		width: 100%;
		height: 1px;
		margin-top: 14px;
		background-color: $color_white;
	}
}
.formulaire_connexion { margin-bottom: 50px; }
//.formulaire_inscription { background-color: $color_gris; }

.form_container .error {
	color: red;
	margin: 6px 0;

	p {
		margin: 0;
	}
}


.wpua-edit-container {
	display: flex;
	flex-wrap: wrap;

	h3 { display: none; }
	#wpua-preview-existing { display: none; }
	#wpua-remove-existing { display: none; }
	#wpua-remove-button-existing { display: none; }
	#wpua-undo-button-existing { display: none; }
	#wpua-thumbnail-existing .description { display: none; }

	#wpua-images-existing {
		order: 1;
		width: 100px;
		
		img {
			height: 96px;
			width: 96px;
			object-fit: cover;
		}
	}

	#wpua-upload-button-existing {
		order: 2;
		width: calc(100% - 100px);
		padding-left: 20px;

		#wpua-file-existing {
			padding: 0;
		}
	}

	#wpua-upload-existing, #wpua-add-existing {
		margin-top: 10px;
		cursor: pointer;
		padding: 6px 16px;
		font-weight: 700;
		color: $color_black2;
		background-color: $color_jaune;
		border: none;
		border-radius: 3px;
		text-decoration: none;
	}
	#wpua-upload-existing:hover, #wpua-add-existing:hover {
		color: $color_black2;
		text-decoration: none;
		background-color: lighten($color_jaune, 10%);
	}

	#wpua-upload-messages-existing {
		
		width: 100%;
		order: 3;
	}
}
.wpua-edit {
	.inputs_bloc > .updated { display: none; }
	p.submit { display: none !important; }
}

#wpua-add-button-existing button {
	display: inline-block !important;
	margin-top: 10px;
	cursor: pointer;
	padding: 6px 16px;
	font-weight: 700;
	color: $color_black2;
	background-color: $color_jaune;
	border: none;
	border-radius: 3px;
	text-decoration: none;
}
#wpua-add-button-existing button:hover {
	color: $color_black2;
	text-decoration: none;
	background-color: lighten($color_jaune, 10%);
}
#wpua-undo-existing {
	border: none;
	color: $color_white;
	background-color: $color_rouge;
}

.bbpm-errors {
	margin-bottom: 10px !important;

	.success {
		padding: 4px;
		background-color: $color_jaune !important;
	}
}

.bbpm-messages {
	.bbpm-helper {
		//font-weight: 500;
		padding: 4px 10px !important;
		text-decoration: none;
		color: $color_black2 !important;
		background-color: $color_jaune !important;
	}
}




.template-mon-compte {

	.success {
		background-color: green;
		color: $color_white;
		padding: 10px 16px;
		border-radius: 10px;
		margin-bottom: 20px
	}

	.cant_change_ident {
		margin: 0;
		margin-left: 156px;
		font-size: 0.9rem;
	}

	.inputs_bloc {
		margin-bottom: 50px;
		padding: 24px;
		background-color: $color_lightgrey;
		border-radius: 16px;
	}

	.labelinput {
		display: flex;
		margin-bottom: 8px;
	}

	label {
		width: 180px;
		flex: 180px;
	}

	input, select {
		width: 100%;
		padding: 4px 8px;
		border: none;
	}
	input:disabled {
		background-color: darken($color_white, 7%);
	}

	p {
		width: 100%;
	}

	#updateuser {
		font-size: 1.2rem;
	}

	.publicinfo_titre {
		margin-top: 24px;
	}

	.publicinfo {
		p {
			margin: 0;
			color: $color_rouge;

			strong {
				color: $color_black2;
			}
		}
	}

	#delete_self {
		margin-top: 100px;

		.delete_account_container {
			display: flex;

			.delete_account_button {
				color: $color_white;
				background-color: $color_rouge;
			}
		}
	}

	.error {
		color: red;
		margin: 6px 0;

		p {
			margin: 0;
		}
	}
}


.template-inscription-confirmation {

	.info_hautdroite {
		position: absolute;
		top: 80px;
		right: 30px;

		img {
			position: relative !important;
			display: block;
			z-index: 10 !important;
			width: 100px !important;
			height: auto !important;
		}

		p {
			margin: 0;
			padding: 2px 7px;
			position: absolute;
			z-index: 2;
			width: 19rem;
			bottom: 25px;
			right: 30px;
			font-size: 1rem;
			font-weight: 700;
			background-color: $color_white;
		}
	}

	.confirmation_inscription {
		color: $color_black2;

		h1 {
			font-weight: 800;
		}

		h3 {
			color: $color_rouge;
			margin-top: 16px;
			margin-bottom: 40px;
		}

		.tips_container {
			margin-top: 40px;

			.tip_container {
				padding: 0 10px;
				height: 100%;

				.bg_gris {
					display: flex;
					flex-direction: column;
					flex: 1;
					padding: 26px 30px;
					background-color: $color_lightgrey;

					a {
						margin-top: 20px;
						display: block;
						text-align: center;
					}
				}
				
			}
		}

		h6 {
			margin-top: 50px;
			font-size: 1.6rem;
			font-weight: 300;
			font-style: italic;
		}

		.retour_accueil {
			display: block;
			margin-top: 40px;
			text-align: center;
		}
	}
}


@include media-breakpoint-down($responsive_breakpoint) {
	.template-mon-compte {

		.cant_change_ident {
			margin: 0;
		}

		.labelinput {
			display: block;

			> * {
				width: 100%;
			}
		}

		#delete_self {
			margin-top: 100px;

			.delete_account_container {
				display: block;

				.delete_account_button {
					font-size: 0.9rem;
				}
			}
		}
	}

	.template-inscription-confirmation {
		.info_hautdroite {
			top: 60px;
			right: 60px;
		}
		.confirmation_inscription {
			margin-top: 130px;
		}
	}
}


// ----------------------------------------------------------