
.template-acces-departements, .template-accueil-departement, .template-actualites, .template-comptes-rendus, .template-documents, .template-presse, .template-contacts, .template-forum, .template-espace-protege, .bbp-user-page, .template-mon-compte {

	@include media-breakpoint-down($responsive_breakpoint) {
		> .site {
			padding-top: 100px;
		}
	}

	.subnav {
		display: none !important;
	}

	.boxed_content {
		padding: 30px;

		.pinned_info {
			margin-top: 0 !important;
		}
	}
}

.template-accueil-departement {
	.boxed_content {
		.pinned_info {
			margin-top: 40px !important;
		}
	}

	.entete_page {
		max-width: 1340px;
	}
}

.template-accueil-departement {
	.raccourcis_entete {
		margin: 40px 0;

		h2 {

		}

		.acces_rapide_container {
			padding-left: 0;

			.row > div {
				margin-bottom: 60px;
			}

			.accesrapide_link {
				display: block;
				text-align: center;
				text-decoration: none;

				img {
					width: 70px;
					transition: 0.1s;
				}

				p {
					color: $color_black2;
					font-weight: 700;
					margin: 0;
				}
			}
			.accesrapide_link:hover {
				img {
					transform: scale(1.05);
				}
			}
		}

		.carte_container {
			padding-right: 0;

			.iframe_container {
				margin-bottom: 15px;
			}
		}
	}
}

.corps_accueildep {
	background-color: $color_white;
	padding: 36px;
	//padding-top: 0;
}

// NAV DEPARTEMENTS
.nav_departement_container {
	background-color: $depnav_bgcolor;

	.flex_container {
		display: flex;
	}

	.nom_departement {
		position: relative;
		padding: 10px 20px;
		padding-left: 0;
		background-color: $depnav_nom_bgcolor;

		.left_filler {
			position: absolute;
			top: 0;
			right: calc(100% - 1px);
			height: 100%;
			width: 50vw;
			background-color: $depnav_nom_bgcolor;
		}

		a {
			text-transform: uppercase;
			color: $color_black;
			font-size: 1.2rem;
			line-height: 1.7rem;
			font-weight: 900;
			transition: 0.15s;
		}
		a:hover {
			text-decoration: none;
			color: lighten($color_black, 20%);
		}
	}

	.separateur_departement {
		border: 25px solid transparent;
		border-left: 20px solid $depnav_nom_bgcolor;
		border-right: none;
	}

	.nav_departement {
		flex: 1;
		padding: 10px;
		padding-left: 20px;
		display: flex;
		align-items: center;

		a {
			margin-right: 24px;
			color: $color_jaune;
			font-size: 0.95rem;
			font-weight: 700;
			transition: 0.15s;
		}
		a:hover {
			text-decoration: none;
			color: lighten($color_jaune, 20%);
		}
		a.active {
			color: $color_jaune;
		}
		
	}
}

.news_container {
	margin-bottom: 30px;
	
	.gauche {
		img {
			height: auto;
			width: 100%;
			object-fit: cover;
		}
	}

	.droite {
		padding-left: 24px;
		padding-top: 0;
		padding-bottom: 0;

		.date {
			color: $color_rouge;
			font-size: 0.95rem;
		}

		.nb_comment {
			margin: 4px 0;
			font-size: 0.9rem;
			font-style: italic;

			i {
				margin-right: 3px;
			}
		}

		.entete {
			font-weight: 700;

			.type {
				font-size: 1.25rem;
				text-transform: uppercase;
				color: $color_gris;
			}

			.emplacement {
				font-size: 1.1rem;
				color: $color_jaunefonce;
			}
		}

		.titre {
			text-decoration: none;

			h2 {
				font-size: 1.9rem;
				font-weight: 700;
				color: $color_black;
			}
		}

		.texte {
			margin-top: 12px;
			line-height: 1.4rem;
		}

		.more-link {
			display: block;
			margin-top: 6px;
			text-align: left;
			color: $color_rouge;
		}

		p img {
			max-height: 400px;
			object-fit: contain;
			margin-bottom: 16px;
		}
	}
	
}
.news_separateur {
	display: block;
	margin: 40px 0;
	width: 100%;
	height: 1px;
	background-color: $color_black;
}
.news_separateur:last-child {
	display: none;
}


.template-accueil-departement {
	.section_departement {
		main {
			max-width: 1340px;
		}
	}
}
.section_departement {
	main {
		max-width: 1140px;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;

		.entry-title {
			text-transform: none;
			font-size: 2.3rem;
			font-weight: 600;
			text-align: left;
			margin-bottom: 10px;
		}
	}
}



@media screen and (max-width: 1450px) {
	.nav_departement_container .nav_departement a {
		font-size: 0.8rem !important;
		white-space: nowrap;
		overflow-x: hidden;
		padding-left: 4px !important;
		padding-right: 4px !important;
		margin-right: 16px;
	}
}
@media screen and (max-width: 1300px) {
	.nav_departement_container .nav_departement a {
		font-size: 0.77rem !important;
		white-space: nowrap;
		overflow-x: hidden;
		padding-left: 3px !important;
		padding-right: 3px !important;
		margin-right: 10px;
	}
}
@media screen and (max-width: 1200px) {
	.nav_departement_container .nav_departement a {
		font-size: 0.7rem !important;
		white-space: nowrap;
		overflow-x: hidden;
		padding-left: 1px !important;
		padding-right: 1px !important;
		margin-right: 10px;
	}
}
@include media-breakpoint-down($navbar_collapse_breakpoint) {
	.nav_departement_container .nav_departement a {
		display: block !important;
		font-size: 1.1rem !important;
		white-space: nowrap;
		overflow-x: hidden;
		padding-left: 1px !important;
		padding-right: 1px !important;
		margin-right: 10px;
	}
}


@include media-breakpoint-down($responsive_breakpoint) {

	/*.section_departement {
		padding-top: 50px;
	}*/

	.nav_departement_container {
		position: fixed;
		z-index: 50;
		top: 50px;
		width: 100%;

		.nav_departement {
			position: absolute;
			z-index: 60;
			bottom: 0px;
			left: 0;
			transform: translateY(calc(100% - 2px));
			width: 100%;
			padding: 0px;
			padding-left: 20px;
			background-color: $color_black2;
			max-height: 0px;
			overflow: hidden;
			transition: 0.3s;
			flex-direction: column;

			a {
				display: block;
				width: 100%;
				margin: 8px 0;
			}
		}
		.nav_departement.open {
			padding: 10px;
			padding-left: 20px;
			max-height: 700px;
		}
	}

	.news_container {
		.attachment-post-thumbnail {
			max-height: initial;
			object-fit: cover;
		}

		.droite {
			margin-top: 20px;
		}

		.titre {
			h2 {
				font-size: 1.5rem !important;
			}
		}
	}

	.bouton_type_1 {
		display: block !important;
		width: 100%;
	}

}