
// ----------------------------------
// ||            Footer            ||
// ----------------------------------


// ----------------- CSS SPECIFIQUE AU SITE -----------------

section.prefooter {
	margin-top: 70px;
	max-width: 100%;
	padding: 60px 0;
	background-color: $color_jaunepale2;

	.col_acces {
		padding-right: 50px;

		h2 {
			margin-bottom: 30px;
		}

		.lien {
			text-align: center;
			margin-bottom: 30px;
			text-decoration: none;
			color: $color_black;

			.icon {
				width: 60px;
			}

			.titre {
				font-weight: 400;
				text-decoration: none;
			}
		}

		img {
			width: 50px;
		}

		.titre {
			font-size: 0.9rem;
		}
	}

	.col_carte {
		.texte {
			font-size: 0.85rem;
		}
		img {
			display: block;
			width: 100%;
			max-height: 170px;
			object-fit: cover;
			margin-top: 10px;
			margin-bottom: 14px;
		}
	}
}

 .site > footer {
 	//margin-top: 70px !important;
 	padding-bottom: 20px !important;

 	> div {
 		padding: 0 10px !important;
 	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	img {
		max-width: 60px
	}

	h4 {
		padding-bottom: 4px;
		border-bottom: 0.5px solid rgba($color_white, 0.3);
	}

	.col_gauche {
		display: flex;

		.gauche {
			margin-right: 20px;
		}

		.droite {
			flex: 1;
			padding: 0 10px;
		}
	}

	.txt_newsletter {
		font-size: 0.8rem;
		line-height: 0.9rem;
		margin-bottom: 10px;
	}

	input {
		width: 100%;
		border: none;
		padding: 6px;
	}

	.button {
		margin-top: 6px;
		padding: 2px 6px;
		font-weight: 700;
		transition: 0.2s;
	}

	.bas_footer {
		margin-top: 30px;
		font-size: 0.9rem;

		a {
			text-decoration: underline;
		}
	}

	.col_droite {
		padding-right: 50px !important;
	}

}

.disclaimer {
	margin-top: 6px;
	margin-bottom: 3px;
	font-size: 0.9rem;

	* {
		display: inline-block !important;
		width: initial !important;
	}

	input {
		transform: translateY(2px);
	}
}


@include media-breakpoint-down($responsive_breakpoint) {

	.site > footer {
		.col_milieu {
			margin: 50px 0;
		}
	}

	section.prefooter {
		.col_acces {
			padding: 0 15px;
			margin-bottom: 30px;

			h4 {
				text-align: center;
			}
		}
	}

} 

@media screen and (max-width: 450px) {

	.site > footer {
		.col_gauche {
			flex-direction: column;

			.gauche {
				text-align: center;
				margin-bottom: 30px;
			}
		}
	}

} 



// ----------------------------------------------------------


// FOOTER - GÉNÉRAL
.site > footer {
	background-color: $footer_bgcolor;
	padding: $footer_padding;
	.separateur { width: $footer_separateur_horizontal; }
	color: $footer_txtcolor;
	a {
		color: $footer_link_color;
		@if $footer_link_underline == 1 { text-decoration: underline; }
	}
	a:hover {
		color: $footer_link_hover_color;
	}
}


@include media-breakpoint-down($responsive_breakpoint) {

	.site > footer {
		.separateur { width: 100%; height: $footer_separateur_vertical; }

		.footer_haut {
			flex-wrap: wrap;

			.column {
				width: 50%;
				margin: 0;
				margin-bottom: 20px;
			}
		}

		.footer_bas {

			.column {
				width: 50%;
				margin: 0;
				margin-bottom: 20px;
			}
		}
	}

}

@include media-breakpoint-down(xs) {

	.site > footer {

		.footer_haut {
			flex-direction: column;

			.column {
				width: 100%;
				text-align: center;
			}
		}

		.footer_bas {

			.column:nth-child(2) {
				margin-top: 20px;
			}

			.column {
				width: 100%;
				text-align: center;
				border: 0;
			}
		}
	}

}