
.fichier { display: none !important; }

.bbpress {
	.entete_page {
		max-width: $website_maxwidth;
		margin: auto;
	}
}

.bbpress_disclaimer {
	max-width: $website_maxwidth;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 20px;
	background-color: $color_lightgrey;

	h1, h2, h3, h4, h5, h6 {
		font-weight: 700;
		color: $color_gris;
	}

	p {
		color: $color_gris;
	}
	p:last-child {
		margin: 0;
	}
}

.bbpress_content_container {
	
}
#bbpress-forums {
	padding: 20px;
	background-color: lighten($color_lightgrey, 5%);
}
.bbpress_content_container, #bbpress-forums {
	max-width: $website_maxwidth;
	margin-left: auto;
	margin-right: auto;

	.breadcrumb_container {
		i {
			display: inline-block;
			color: $color_rouge;
			font-size: 0.95rem;
			margin-right: 4px;
		}
	}
	
	.bbp-breadcrumb {
		display: inline-block;
		float: none;
		font-size: 0.95rem;

		a:hover {
			color: $color_rouge;
		}
	}

	.subscription_container {
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		margin-bottom: 20px;

		.help_button:first-child {
			display: none;
		}
	}

	.subscription-toggle {
		display: inline-block;
		padding: 4px 6px;
		color: $color_black;
		background-color: $color_jaune;
		text-decoration: none;
		border-radius: 3px; 
	}

	.new_topic_link_container {
		margin-bottom: 10px;
	}

	.bbp-pagination {
		margin: 0;

		.bbp-pagination-links {

			.page-numbers {
				font-size: 0.9rem;				
			}

			a {
				color: $color_rouge;
			}
		}
	}

	.bbp-template-notice {
		img {
			padding: 0 !important;
			margin: 0 !important;
			border: none !important;
			max-width: 14px;
			transform: translateY(-2px);
		}

		.bbp-author-avatar {
			margin-left: 3px;
		}
	}

	.bbp-search-form {

	}

	.bbp-forums, .bbp-topics {
		margin: 0 !important;

		img {
			padding: 0 !important;
			margin: 0 !important;
			border: none !important;
			max-width: 14px;
		}

		.bbp-header {
			background-color: $color_jaune;
		}

		.bbp-topic-permalink {
			font-size: 0.9rem;
		}

		.bbp-author-name {
			font-weight: 500;
			text-decoration: none;
		}

		.bbp-forum-title, .bbp-topic-title a {
			color: $color_black;
			text-decoration: none;
		}

		.bbp-forum-title {
			font-size: 0.9rem;
		}

		.bbp-forum-freshness, .bbp-topic-freshness {
			a {
				color: $color_black;
			}
		}

		.bbp-forum-link {
			display: block;
			font-size: 0.75rem;
			font-weight: 400;
		}
	}

	.bbp-breadcrumb-forum {
		color: $color_black;
		text-decoration: underline;
	}

	.bbp-forums {



	}

	.bbp-topics {

		ul.super-sticky, ul.sticky {
			position: relative;
			padding-left: 30px !important;
		}
		ul.super-sticky.status-closed, ul.sticky.status-closed {
			color: $color_black;
			a {
				color: $color_black;
			}
			.bbp-topic-permalink:before {
				content: '\f023';
				font-family: "Font Awesome 5 Free";
				margin-right: 5px;
			}
		}
		ul.super-sticky {
			background-color: lighten($color_jaune, 25%) !important;
		}

		ul.super-sticky:before, ul.sticky:before {
			font-family: "Font Awesome 5 Free";
			content: '\f08d';
			font-weight: 900;
			position: absolute;
			top: 11px;
			left: 10px;
			transform: rotate(-20deg);
			
		}
		ul.super-sticky:before {
			font-size: 1.1rem;
			color: darken($color_rouge, 15%);
		}
		ul.sticky:before {
			font-size: 1rem;
			color: darken($color_jaune, 15%);
		}
	}

	.bbp-replies {
		.favorite-toggle, .subscription-toggle {
			padding: 4px 6px;
			text-decoration: none;
			border-radius: 3px; 
			font-weight: 700;
		}
		.favorite-toggle {
			color: $color_jaune;
			background-color: $color_black;
		}
		.favorite-toggle:before {
			font-family: "Font Awesome 5 Free";
			content: '\f005 ';
			font-weight: 500;
			margin-right: 4px;
		}
		.is-favorite .favorite-toggle:before {
			font-weight: 700;
		}
		.subscription-toggle {
			color: $color_black;
			background-color: $color_jaune;
		}

		.bbp-rc-reply-is-reported {
			color: $color_rouge;
			font-weight: 700;
		}

		.bbp-author-name {
			color: $color_black;
			line-height: 0.8rem;
			margin: 3px 0 !important;
		}

		.reply_author_dep {
			color: $color_rouge;
			font-size: 0.7rem;
			line-height: 0.7rem;
			//font-style: italic;
			//font-weight: 300;
		}

		.reply_author_role {
			//color: $color_rouge;
			//font-style: italic;
			//font-weight: 300;
		}
	}

	.content-single-topic_container {
		.topic {
			border: 2px solid $color_jaune;

			.single_forum_post_container {
				background-color: lighten($color_jaune, 42%);
			}
		}
	}

	.single_forum_post_container {

		.has_role {
			img {
				//border: 1px solid $color_rouge !important;
			}
		}

		.bbp-author-avatar {
			img {
				max-width: 60px !important;
				height: auto;
			}
		}

		.bbp-reply-content {
			img {
				object-fit: cover;
				max-width: 100% !important;
			}

			.avatar { // Pour les "modifié par"
				padding: 0 !important;
				margin: 0 !important;
				border: none !important;
				max-width: 14px !important;
			}
		}
	}

	@media (max-width: 480px) {
		.single_forum_post_container {
			.bbp-reply-author {
				display: block;

				.bbp-author-name, > div {
					transform: translateY(30px);
				}

				.bbp-author-avatar {

				}
			}
		}
	}

	.author_container {
		background-color: $color_lightgrey;
	}

	.bbp-admin-links {

		a {
			color: $color_rouge;
			font-weight: 700;
		}

		/*.bbp-topic-reply-link, .bbp-reply-to-link {
			display: none;
		}*/
	}
	.bbp-reply-permalink {
		color: $color_gris;
	}

	.bbp-form {
		padding: 0 !important;
	}

	.separateur {
		margin-top: 60px;
	}

	.bbpm-contact-btn {
		display: block;
		width: 40px;
		margin-top: 4px;
		margin-left: auto;
		margin-right: auto;
		padding: 1px 3px;
		padding-left: 5px;
		font-size: 0.7rem;
		font-weight: 500;
		text-decoration: none;
		color: $color_black2;
		background-color: $color_jaune;
		border-radius: 2px;
		//transform: translateY(10px);
	}

	.bbp-topic-freshness {
		img {
			transform: translateY(-2px);
		}
	}
	

	@include media-breakpoint-down($responsive_breakpoint) {

		.bbp-header {
			.bbp-topic-freshness { display: none; }

			* {
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		.bbp-topic-title {
			width: 80%;
		}

		.bbp-topic-voice-count, .bbp-topic-reply-count {
			width: 10%;
		}

		.bbp-topic-freshness {
			width: 100%;
			text-align: left;

			* {
				display: inline-block;
			}

			p {
				margin-left: 10px;
			}
		}
		
	}

	/*.content-single-topic_container {
		.bbp-header {
			.bbp-reply-author, { display: none; }
		}
	}*/

}


.bbp-form, .bbp-topic-form, .bbp-reply-form {
	legend {
		margin-top: 10px;
		padding: 0 !important;
		font-weight: 700;
	}
	legend:first-letter {
		text-transform: capitalize;
	}

	#bbp_topic_title {
		margin-top: 5px !important;
		padding: 4px 6px;
		border: none;
		width: 100%;
		font-size: 1.05rem;
	}

	/*#bbp_topic_subscription, #bbp_log_reply_edit, #bbp_log_topic_edit, input[type='checkbox'] {
		display: inline-block;
		appearance: checkbox !important;
		height: 10px;
		margin-right: 16px;
	}*/
	
	/*input[type='radio'] {
		display: inline-block;
		appearance: radio !important;
		height: 10px;
		margin-right: 16px;
	}*/

	

	select {
		margin: 0 !important;
		margin-top: 3px !important;
		padding: 4px;
		min-width: 300px;
	}

	#bbp_reply_edit_reason, #bbp_topic_edit_reason {
		border: none;
		width: 100%;
		padding: 4px 6px;
	}

	#bbp_topic_split_destination_title, #bbp_reply_move_destination_title {
		border: none;
		padding: 4px 6px;
		min-width: 300px;
	}

	#bbp_topic_submit, #bbp_reply_submit, #bbp_merge_topic_submit {
		font-size: 1.1rem;
	}
}


#bbp-user-wrapper {

	.bbpm-contact-btn {
		display: inline-block;
	}

	#bbp-single-user-details {
		a {
			color: $color_black;
		}
		a:hover {
			color: $color_rouge;
			//background-color: lighten($color_lightgrey, 2%) !important;
		}

		.current {
			opacity: 1;
			//background-color: $color_jaune;

			a {
				color: $color_rouge;
				background-color: darken($color_lightgrey, 2%) !important;
			}
		}
	}

	#bbp-user-body {

		.entry-title {
			font-weight: 700;
		}
	}
}

.bbpm { 

	input, textarea {
		padding: 4px;
		border: none;
	}
	select {
		padding: 4px;
		min-width: 250px;
	}

	input[name="search"], input[name="name"] {
		min-width: 300px;
	}

	input[type="submit"] {
		cursor: pointer;
		margin-left: auto;
		padding: 6px 16px;
		font-weight: 700;
		color: $color_black;
		background-color: $color_jaune;
		border: none;
		border-radius: 3px;
		text-decoration: none;
	}

	button {
		cursor: pointer;
		margin-left: auto;
		padding: 4px 8px;
		font-weight: 700;
		color: $color_black;
		background-color: $color_jaune;
		border: none;
		border-radius: 3px;
		text-decoration: none;
	}

	textarea {
		width: 100%;
	}

	a {
	    color: $color_rouge !important;
	}

	.bbpm-read-receipts {
		text-align: left;
		margin-top: 0;
	}

	.bbpm-new {


		.bbpm-results {
			label {
				cursor: pointer;
			}
			input, img {
				display: inline-block !important;
			}
			input {
				transform: translateY(3px);
			}
		}
	}
}

.fichier {
	display: block;
	clear: both;
	width: 100%;
	//font-size: 2rem;
	color: lightgreen;
	background-color: darkgreen;
}


@include media-breakpoint-down($responsive_breakpoint) {
	/*.bbpress_dep_forum {
		padding-top: 70px !important;
	}*/
}
