

html { 
	overflow-x: hidden;
	overflow-y: scroll;
	margin: 0; padding: 0;
	width: 100%;
}

body {
	position: relative;
	background-color: $main_bg_color;
	margin: 0; padding: 0;
	-webkit-text-size-adjust: 100%;
	overflow-x: hidden;
	width: 100%;
	padding-right: 0 !important; // Pour contrer les 17px des modales boostrap
	font-family: 'Ubuntu';
	line-height: 1.4;
	background-color: $color_jaunepale;
}

section {
	position: relative;
	width: 100%;
}

section, .shadowed_box, .sidebar_zone .main_content {
	a {
		color: $links_color;
		font-weight: $links_weight;
		text-decoration: $links_decoration;
	}
	a:hover {
		color: lighten($links_color, 7%);
		text-decoration: $links_decoration;
	}
}

p img {
	//width: 100%;
	//height: auto;

	&.alignleft {
		float: left;
		margin-right: 16px;
	}

	&.alignright {
		float: right;
		margin-left: 16px;
	}
}

/*p, h1, h2, h3, h4, h5, h6 {
	color: $color_black;
}*/

/*textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
div[type="submit"],
*[type="submit"],
button {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
}*/

img {
	//width: 100%;
	//height: auto;
}

section {
	position: relative;
}


a:focus {outline:none;}

.full_site {
	position: relative;
	min-height: 100vh;
}

.hidden {
	display: none;
}

.grecaptcha-badge { display: none; }

.nopaddingtop { padding-top: 0 !important; }

.container.large {
	max-width: 1300px;
}


// ----------------- CSS SPECIFIQUE AU SITE -----------------

.back_to_top {
	position: fixed;
	z-index: 900;
	bottom: $back_to_top_decalage;
	right: 28px;
	height: $back_to_top_size;
	width: $back_to_top_size;
	background-color: $color_jaune;
	color: $color_black;

	i {
		@extend %absolutecenter_xy;
		font-size: $back_to_top_size;
	}

	opacity: 0;
	pointer-events: none;
	transition: 0.5s;
}
.back_to_top:hover {
	color: $color_black;
	background-color: $color_jaune;
}
.back_to_top.scroll-level-reached {
	opacity: 1;
	pointer-events: all;
}

body > .site {
	padding-top: 65px;
	@include media-breakpoint-down($responsive_breakpoint) { padding-top: 49px; }
}

.main_content_container {
	min-height: 60vh;
	/*background: url('images/element_fond.png') no-repeat top right;
	background-size: contain;*/
	
	> main {
		margin-top: 30px;
	}

	.background_haut_page {
		position: absolute;
		z-index: -10;
		top: 50px;
		width: 100%;
		height: 250px;

		img {
			@extend %imgcover;
		}
	}
}

@include media-breakpoint-down($responsive_breakpoint) {
	.main_content_container {
		min-height: 60vh;
		
		> main {
			padding: 20px;
		}

		/*.gauche, .droite {
			padding: 0 !important;
		}*/
	}
}

.entete_page {
	max-width: $website_maxwidth;
	/*padding-right: 15px;
	padding-left: 15px;*/
	color: $color_black;
	margin-bottom: 50px;

	> *:last-child {
		margin-bottom: 0;
	}

	h1 {
		color: $color_black;
		text-align: left;
		font-weight: 700;
		//text-transform: uppercase;
	}

	/*.entry-content {
		margin: 40px auto;
		max-width: $website_maxwidth;
		padding: 16px;
		background-color: $color_jaune;
		border-radius: 16px;
	}*/
}

.entete_page_new {
	margin-top: 40px;

	h1 {
		margin-bottom: 20px;
	}
}

.entete_page, .content_page {
	h2 {
		margin-top: 30px;
		font-size: 1.7rem;
		font-weight: 700;
	}

	h3 {
		margin-top: 16px;
		font-size: 1.4rem;
	}

	h2:first-child, h3:first-child {
		margin-top: 0;
	}

	// p:last-child {
	// 	margin-bottom: 0 !important;
	// }

	@include media-breakpoint-down($responsive_breakpoint) {
		.entry-title, h1 {
			font-size: 1.7rem;
		}

		h2 {
			font-size: 1.25rem;
		}
	}
}

.shadowed_box, .articled {
	padding: 4%;
	background-color: $color_white;
	border-radius: 4px;
	box-shadow: 3px 3px 10px rgba($color_black, 0.3);
	transition: box-shadow 0.5s;
	p:last-child { margin-bottom: 0; }
}
.shadowed_box {
	margin-bottom: 32px;
}

.shadowed_box:hover{
	box-shadow: 8px 10px 10px rgba($color_black, 0.2);
}

.shadowed_container {
	background-color: $color_white;
	border-radius: 4px;
	box-shadow: 3px 3px 10px rgba($color_black, 0.3);
	p:last-child { margin-bottom: 0; }
}

.titre_section {
	color: $color_black;
	font-size: 2rem;
	font-weight: 700;
	padding-bottom: 4px;
	border-bottom: 1px solid $color_gris;
	margin-bottom: 25px;
}

blockquote {
	padding: 10px;
	background-color: $color_lightgrey;

	p:last-child { margin: 0; }
}

.help_button {
	cursor: pointer;
	display: inline-block;
	position: relative;
	font-size: 0.9rem;
	margin: 0 6px;
	color: $color_rouge;

	.help_message {
		cursor: initial;
		position: absolute;
		z-index: 10;
		top: 50%;
		width: 300px;
		padding: 13px;
		border: 1px solid $color_rouge;
		background-color: $color_lightgrey;
		line-height: 1.2rem;
		color: $color_black;

		pointer-events: none;
		display: none;
		opacity: 0;
		transition: 0.3s;

		p {
			margin-bottom: 6px;
		}

		a {
			font-weight: 500;
			color: $color_rouge;
		}

		.close_help {
			cursor: pointer;
			position: absolute;
			top: 0;
			color: $color_white;
			background-color: $color_rouge;
			font-size: 0.7rem;
			line-height: 0.5rem;
			padding: 1px 2px;
		}
	}
	.help_message.left { right: 50%; .close_help { left: 0; } }
	.help_message.right { left: 50%; .close_help { right: 0; } }

	.help_message.active {
		pointer-events: all;
		display: block;
		opacity: 1;
	}
}

.bouton_type_1 {
	cursor: pointer;
	padding: 6px 16px;
	font-weight: 700;
	color: $color_black !important;
	background-color: $color_jaune;
	border: none;
	border-radius: 3px;
	text-decoration: none;
}
.bouton_type_1:hover {
	color: $color_black;
	text-decoration: none;
	background-color: lighten($color_jaune, 10%);
}
.bouton_type_1.disabled {
	cursor: not-allowed !important;
	background-color: $color_gris !important;
}

.bouton_type_2 {
	cursor: pointer;
	padding: 6px 16px;
	font-weight: 700;
	color: $color_jaune;
	background-color: $color_black;
	border: none;
	border-radius: 3px;
	text-decoration: none;
}
.bouton_type_2:hover {
	color: $color_jaune;
	text-decoration: none;
	background-color: lighten($color_black, 10%);
}
.bouton_type_2.b {
	padding: 6px 8px;
}
.bouton_sidebar {
	display: block;
	cursor: pointer;
	padding: 6px;
	text-align: center;
	font-size: 0.85rem;
	font-weight: 700;
	color: $color_black;
	background-color: $color_jaune;
	border: none;
	text-decoration: none;
}
.bouton_sidebar:hover {
	color: $color_black;
	text-decoration: none;
	background-color: lighten($color_jaune, 10%);
}

.button-primary, .user-submit, #bbp_topic_submit, #bbp_reply_submit, #bbp_merge_topic_submit {
	cursor: pointer;
	padding: 6px 16px;
	font-weight: 700;
	color: $color_black;
	background-color: $color_jaune;
	border: none;
	border-radius: 3px;
	text-decoration: none;
}
.button-primary:hover {
	color: $color_black;
	text-decoration: none;
	background-color: lighten($color_jaune, 10%);
}

.pinned_info {
	position: relative;
	display: flex;
	transition: $pinned_info_animtime;
	max-height: 800px;
	transform: translate(0, 0);
	margin: 40px auto;
	max-width: $website_maxwidth;
	padding: 16px;
	background-color: $color_jaune;
	border-radius: 16px;

	.pin_container {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		transform: translate(-50%, -50%);
		background-color: $color_jaune;
		padding: 10px;
		border-radius: 6px;
		transition: $pinned_info_animtime;

		.pin {
			cursor: pointer;
			width: 20px;
			transition: $pinned_info_animtime;
		}
	}

	.content {
		display: flex;
		flex: 1;
		overflow: hidden;
		max-height: 800px;
		opacity: 1;
		transition: $pinned_info_animtime / 2;

		.post-thumbnail { height: 100%; }
		.img_container img {
			min-width: 150px;
			max-width: 250px;
			height: 100%;
			width: 100%;
			object-fit: cover;
			padding-right: 14px;
		}

		p:last-child {
			margin: 0;
		}

		a {
			color: $color_rouge;
			font-weight: 500;
		}
	}
}
.pinned_info.closed {
	padding: 0;
	max-height: 0;
	transform: translateY(-20px);

	.pin_container {
		z-index: 1;
		transform: translate(0%, -50%);

		.pin {
			width: 24px;
			transform: rotate(-20deg);
		}
	}

	.content {
		max-height: 0;
		opacity: 0;
	}
}

.fullsize_head_container {
	position: relative;
	width: 100vw;
	left: 50%;
	transform: translateX(-50%);
	padding: $fullwidth_padding_sides;
	background-color: lighten($color_jaune, 30%);
	margin-bottom: 40px;
}

.entete_content {
	display: flex;
	margin: auto;
	margin-top: 30px;
	padding: 16px;
	border-radius: 10px;
	background-color: $color_gris;

	.separateur_vert {
		display: none;
		width: 1px;
		margin: 0 16px;
		background-color: $color_black;
	}

	.icon {
		i {
			color: $color_black;
			font-size: 7rem;
		}
	}

	.texte {
		padding: 16px 20px;
		margin-left: 16px;
		font-size: 1.05rem;
		//border-top: 1px solid $color_black;
		//border-bottom: 1px solid $color_black;
		background-color: $color_lightgrey;

		p:last-child {
			margin: 0;
		}
	}
}

@include media-breakpoint-down($responsive_breakpoint) {
	.fullsize_head_container {
		.entry-title {
			margin-left: 80px;
		}
	}
	.entry-title {
		font-size: 2rem;
	}

	.entete_content {
		margin: 10px;
		margin-top: 30px;
		width: calc(100% - 20px);

		.icon {
			position: absolute;
			top: 0;
			left: 10px;
			transform: translateY(calc(-100% - 10px));

			i {
				font-size: 4rem;
			}
		}
		.texte {
			margin: 0;
		}
	}
}

.footer_content {
	margin-top: 30px;
	padding: 16px 20px;
	background-color: $color_white;

	p:last-child {
		margin: 0;
	}
}

.sidebar_title {
	text-align: center;
	padding: 4px 8px;
	font-size: 1.3rem;
	font-weight: 700;
	color: $color_white;
	background-color: $color_black2;
}

.sidebar_subtitle {
	padding: 2px;
	text-align: center;
	font-size: 1.2rem;
	font-weight: 700;
	color: $color_jaune;
	background-color: $color_gris;
}
.sidebar_zone {
	max-width: 1700px;
	margin: auto;
	margin-top: 40px;

	.main_content {
		padding-right: 30px !important;
	}

	.pinned_info, section {
		max-width: 100%;
		margin-top: 0;
	}

	.sidebar_container {

		.widget {
			margin-bottom: 40px;

			.ligne {
				margin-bottom: 10px;

				.lien_texte {
					overflow: hidden;
				    white-space: nowrap;
				    text-overflow: ellipsis;
				}
			}

			.nom_admin {
				text-decoration: none;
				color: $color_black2;
				font-weight: 700;

				.ligne {
					margin: 0;
				}
			}
			.nom_admin:hover {
				color: darken($color_jaunefonce, 10%);
			}

			.separateur {
				height: 3px;
			}

			.userlist_container {
				margin-bottom: 10px;

				a {
					display: block;
					color: $color_rouge;
					//line-height: 1.3rem;
				}
			}

			.infosmall {
				font-size: 0.85rem;
				font-style: italic;
			}
		}
	}

	.titre {
		font-size: 1rem !important;
		font-weight: 700;
	}
}
.sidebar_zone.has_pinned_info {
	margin-top: 0;

	// .sidebar_container {
	// 	margin-top: 40px;
	// }
}

@include media-breakpoint-down($responsive_breakpoint) {
	.sidebar_zone {
		margin-top: 0;

		.main_content {
			padding: 0 !important;
		}

		.sidebar_container {
			margin-top: 60px !important;
		}
	}
}

.no_moderator {
	display: flex;
	padding: 16px;
	border-radius: 12px;
	background-color: $color_rouge;
	margin-bottom: 30px;

	.icon {
		img {
			width: 60px;
		}
	}

	.texte {
		padding-left: 14px;
		flex: 1;
		color: $color_white;
		font-size: 0.95rem;

		p {
			margin-bottom: 6px;
		}

		a {
			color: $color_white;
			text-decoration: underline;
		}
	}
}

.no_result {
	font-size: 0.92rem;
	font-style: italic;
}
.no_result.bloc {
	padding: 20px;
	background-color: $color_lightgrey;
	border: 1px solid $color_gris;
}

.liste_fichiers {


	.ligne {
		display: flex;
		align-items: center;
		text-decoration: none;
		margin-bottom: 20px;
		padding: 6px;
		transition: 0.3s;

		.file_icon {
			img {
				width: 60px;
			}
		}

		.texte {
			flex: 1;
			padding-left: 14px;

			.surtitre {
				margin: 0;
				color: $color_gris;
			}

			.titre {
				margin: 0;
				font-size: 1.2rem;
				color: $color_black;
			}
		}
	}
	.ligne:hover {
		background-color: $color_lightgrey;
		padding-left: 10px;
	}
}

.liste_liens {


	.ligne {
		display: block;
		text-decoration: none;
		margin-bottom: 20px;
		padding: 6px;
		transition: 0.3s;

		.texte {
			flex: 1;

			.surtitre {
				margin: 0;
				color: $color_gris;

				.date {
					color: $color_rouge;
				}
				.type {
					
				}
				
			}

			.titre {
				margin: 0;
				font-size: 1.2rem;
				color: $color_black;
			}

			.lien_texte {
				font-size: 0.8rem;
				font-weight: 500;
				color: $color_gris;
				margin: 0;
			}
		}
	}
	.ligne:hover {
		background-color: $color_lightgrey;
		padding-left: 10px;
	}

	.ligne.flex {
		display: flex;

		.icon {
			display: flex;
			align-items: center;
			font-size: 1.6rem;
		}

		.texte {
			padding-left: 16px;
		}
	}
	.ligne.flex:hover {
		i {
			color: $color_rouge;
		}
	}
}

section {
	max-width: $website_maxwidth;
	margin-left: auto;
	margin-right: auto;
}


.form_container {
	padding: 20px;
	color: $color_white;
	background-color: $color_black2;
	border-radius: 20px;
	margin-bottom: 30px;

	.titre_form {
		text-align: center;
		font-weight: 700;
	}
}


.wp_pagination {
	margin-top: 20px;
	margin-bottom: 40px;
	font-size: 1.15rem;

	a {
		color: $color_rouge;
	}
	a:hover {
		color: lighten($color_rouge, 8%);
	}

	.current {
		font-weight: 700;
		font-size: 1.3rem;
	}
}
.wp_pagination:last-child {
	margin-bottom: 0px;
}

.entete_surtitre {
	font-size: 2rem;
	font-weight: 600 !important;
	color: $color_rouge;
	margin: 0;
}

.separateur {
	display: block;
	clear: both;
	height: 1px;
	width: 100%;
	background-color: $color_black;
}


.forbidden_access {
	position: relative;

	section {
		height: 100%;
		margin: auto;
		text-align: center;
		padding: 50px;
		border: 2px solid $color_gris;
		background-color: $color_lightgrey;
	}

	i {
		font-size: 4rem;
		color: $color_rouge;
		margin-bottom: 20px;
	}

	h1 {
		font-weight: 700;
	}

	p {
		margin: 0;
		margin-top: 24px;
	}

	a {
		color: $color_rouge;
	}
}

.form_espace_protege_container {
	position: relative;
	margin: 40px auto;
	background-color: $color_jaune;
	border-radius: 16px;
	max-width: 600px;
	padding: 40px;

	.locked_container {
		text-align: center;
		margin-top: 10px;
		margin-bottom: 30px;

		i {
			font-size: 5rem;
			color: $color_black;
		}
	}

	.password_protected_form {
		p {
			text-align: center;
			margin: 0;
		}

		.texte {
			margin-bottom: 10px;
		}

		input {
			display: block;
			width: 100%;
			margin: 0;
		}

		.input_pass {
			margin-bottom: 6px;
			border: none;
			padding: 6px 12px;
		}
	}
}

.error-404 {
	margin-top: 40px;
	min-height: 60vh;
	text-align: center;

	p, h1, h2, h3, h4, h5, h6 {
		color: $color_black;
	}

	.message_404 {
		font-weight: 900;
		font-size: 9rem;
	}

	h3 {
		font-size: 2.5rem;
		margin-bottom: 25px;
	}

	p {
		margin-top: 30px;
	}
}

.en_construction_container {
	padding: 30px;
	text-align: center;
	color: $color_black;
	background-color: $color_lightgrey;
	border: 1px solid $color_black;

	i {
		font-size: 5rem;
	}

	h1 {
		margin-top: 10px;
		font-size: 3.5rem;
		font-weight: 700;
	}

	p {
		margin: 0;
		margin-top: 30px;

		a {
			color: $color_rouge;
		}
	}
}

.modal-backdrop.show {
	opacity: 0.8;
}


.module_bloc_shortcode {
	padding: 0 !important;
	padding-bottom: 0 !important;
	margin-bottom: 34px;

	.module_titre {
		display: flex;
		justify-content: space-between;
		padding: 20px;
		color: $color_black2;
		background-color: $color_lightgrey;
		font-size: 1.3rem;
		transition: 0.3s;

		i {
			color: $color_black;
			transform: rotate(0) translateY(4px);
			transform-origin: 50% 45%;
			transition: 0.3s;
		}
	}
	.module_titre.collapsed {
		i {
			transform: rotate(180deg);
		}
	}
	.module_titre:hover {
		color: darken($color_jaunefonce, 10%);
		i {
			color: darken($color_jaunefonce, 10%);
		}
	}

	.module_content {
		padding: 20px;

		*:last-child {
			margin-bottom: 0;
		}
	}
}




@include media-breakpoint-down($responsive_breakpoint) {
	.site-main {
	    padding: 0 20px;
	}

	.site-main.fullwidth {
		padding: 0;
	}

	/*.page_content {
		padding-top: 50px !important;
	}*/

	.site.has_dep_nav {
		.main_content_container {
			padding-top: 50px !important;
			@include media-breakpoint-down($responsive_breakpoint) { padding-top: 0 !important; }
		}
		.main_content_container.page {
			padding-top: 0px !important;

			.fullsize_head_container {
				padding-top: 30px;
			}
		}
	}
	.home .site.has_dep_nav {
		.main_content_container {
			padding-top: 0px !important;
		}
	}

	.nopaddingtop {
		.page_content {
			padding-top: 16px !important;
		}
	}

	.forbidden_access {
		margin-top: 50px;
	}

	.en_construction_container {
		h1 {
			font-size: 2rem !important;
		}
	}
}


.rework_disclaimer {
	background: #fff;
	padding: 3%;
	border: 2px solid #f3da58;
	text-align: center;

	i {
		font-size: 4rem;
		color: $color_jaune;
		margin-bottom: 10px;
	}

	h3 {
		font-size: 3rem;
		font-weight: 700;
		margin-bottom: 30px;
	}

	p {
		font-size: 1.2rem;
	}
}

p img {
	
}


// ----------------------------------------------------------