#modal_gallery_bas {
    position: fixed;
    height: 100%;
}

.modal {
    padding-right: 0px !important;
}

.modal-dialog.centered {
	margin: 0 !important;
	@extend %absolutecenter_xy;
	transform: translate(-50%, -50%) !important;
}

// MODALE MINIMALISTE, BORDERLESS ETC
.modal.bare {
    

    .modal-dialog {
        max-width: 90%;
    	
    	.modal-content {
    		border-radius: 0 !important;
    		border: none;

    		button.close {
    			cursor: pointer;
    			position: absolute;
    			z-index: 10;
    			top: 10px;
    			right: 10px;
    			font-size: 3rem;
    			line-height: 0.5em;
    			color: $color_black;
    		}

    		.modal-body {
    			padding: 0;
    		}
    	}
    }
}

// MODALE AVEC CAROUSEL DEDANS
.carousel_modal {

	.modal-dialog {
		width: 80vw !important;
		height: 80vh !important;
		max-width: none;

		.modal-content {
			height: 100%;
		}
	}

	.carousel {
		height: 80vh !important;
	}

}


// MODALE Infos fusion
.modal#info_fusion {

    .modal-dialog {
        max-width: 1200px;
        margin: 0 auto;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        background-color: transparent;
    }

    .modal-header {
        color: $color_white;
        background-color: $color_jaunefonce;
        border: none;
    }

    .col_image {
        img {
            @extend %imgcover;
        }
    }
    
    .col_texte {
        padding: 20px;
        background-color: $color_black2;

        h4 {
            font-size: 1.8rem;
            font-weight: 700;
            color: $color_jaune;
            margin-bottom: 24px;
        }

        p {
            color: $color_white;
        }

        ul {
            padding-left: 20px;
            font-weight: 700;
            color: $color_jaune;
            font-size: 1.2rem;
        }
    }
}


@include media-breakpoint-down($responsive_breakpoint) {
    .modal, .modal-content {
        padding-top: 50px !important;
    }

}