
// ----------------------------------
// ||            Navbar            ||
// ----------------------------------

// ----------------- CSS SPECIFIQUE AU SITE -----------------

.navbar-brand {
	display: flex;
	margin-right: 30px;

	.texte {
		margin-left: 6px;
		color: $color_black2;
		font-size: 1.2rem;
		line-height: 1.4rem;
		font-weight: 700;
		transform: translateX(0) translateY(3px);
		transition: 0.2s;
	}
}
.navbar-brand:hover {
	/*.texte {
		transform: translateX(2px) translateY(3px);
	}*/
}

html #wpadminbar {
	position: fixed !important;
}


.admin-bar {
	.navbar {
		top: 32px;
		//@include media-breakpoint-down(md) { top: 40px; }
		@media (max-width: 782px) { top: 46px; }
	}
	@include media-breakpoint-down(md) {
		.navbar_container {
			top: 32px;
		}
	}
	@media (max-width: 782px) {
		.navbar_container {
			top: 46px;
		}
	}

	@include media-breakpoint-down($responsive_breakpoint) {
		.nav_departement_container {
			top: 82px;
		}
	}

	@include media-breakpoint-down($responsive_breakpoint) {
		.nav_departement_container {
			top: 82px;
		}
	}
	@media (max-width: 782px) {
		.nav_departement_container {
			top: 96px;
		}
	}
}
.navbar {

	.container {
		display: flex;

		#nav-container {
			display: flex;
		}

		.right_container {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.dropdown-menu {
			li:first-child a, li:first-child .nav-link {
				//color: $color_black;
				font-weight: 700;
			}
		}
	}

	.nav_spacer {
		flex: 1;
	}

	.lien_connexion {
		display: block;
		position: relative;
		white-space: nowrap;
		/*top: 50%;
		transform: translateY(-50%);*/
		font-size: $navbar_links_fontsize;
		font-weight: $navbar_links_fontweight;
		color: $color_black;
		padding: $navbar_links_padding-y $navbar_links_padding-x !important;
		transition: .25s;
		z-index: 10000 !important;
		text-decoration: none;
	}
	.lien_connexion.active {
		color: lighten($color_black2, 10%);
	}

	.account_button, .help_button {
		position: relative;
		cursor: pointer;
		height: 40px;
		width: 40px;
		margin-left: 16px;

		img {
			height: 40px;
			width: 40px;
			border-radius: 40px;
			object-fit: cover;
			border: 2px solid $color_black;
		}

		.unread_display {
			position: absolute;
			right: -3px;
			top: -3px;
			height: 16px;
			width: 16px;
			font-size: 0.8rem;
			font-weight: 500;
			color: $color_white;
			background-color: $color_rouge;
			border-radius: 100px;

			span {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			.toomuch { font-size: 0.6rem; }
		}

		.user_menu, .help_menu {
			overflow: hidden;
			position: absolute;
			bottom: -6px;
			right: 0;
			transform: translateY(100%);
			padding: 0;
			border: 0px solid rgba($color_black, 0);
			background-color: $color_black2;
			max-height: 0px;
			min-width: 200px;
			transition: 0.2s;

			.text {
				padding: 0 16px;
				margin-bottom: 10px;
				white-space: nowrap;
				color: $color_white;

				span {
					display: block;
					max-width: 240px;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				.pretext {
					white-space: nowrap;
					font-size: 0.8rem;
					font-weight: 300;
				}
			}

			a {
				position: relative;
				display: block;
				white-space: nowrap;
				padding: 8px 16px;
				color: $color_jaune;
				font-weight: 700;

				i {
					width: 20px;
				}
			}
			a:hover {
				color: $color_white;
				text-decoration: none;
			}

			.unread_display {
				top: 3px;
				right: 5px;
			}

			.separator {
				width: 100%;
				height: 1px;
				background-color: $color_black;
			}
		}
		.user_menu.open, .help_menu.open {
			max-height: 450px;
			padding-top: 6px;
			border: 1px solid $color_black;
		}
	}


	.help_button {
		height: auto;
		width: auto;
		margin: 0;
		margin-left: 20px;

		> i {
			display: block;
			font-size: 1.3rem;
			color: $color_black2;
		}

		.help_menu {
			
		}
		.help_menu.open {
			padding-top: 0;
			max-height: 180px;
		}
	}

	

}

.logout_confirm {
	pointer-events: none;
	position: absolute;
	z-index: 10;
	top: 60px;
	right: 0px;
	padding: 14px;
	background-color: $color_jaune;
	border: 1px solid $color_black;
	animation-name: logout_confirm_anim;
	animation-delay: 2s;
	animation-duration: 1s;
	animation-fill-mode: forwards;

	p {
		margin: 0;
	}
}
@keyframes logout_confirm_anim {
  from { opacity: 1; }
  to { opacity: 0; }
}

@media screen and (max-width: 1450px) {
	#nav-container .navbar-nav > .nav-item > .nav-link, .lien_connexion {
		font-size: 0.95rem !important;
		white-space: nowrap;
		overflow-x: hidden;
		padding-left: 4px !important;
		padding-right: 4px !important;
	}
}
@media screen and (max-width: 1300px) {
	#nav-container .navbar-nav > .nav-item > .nav-link, .lien_connexion {
		font-size: 0.9rem !important;
		white-space: nowrap;
		overflow-x: hidden;
		padding-left: 3px !important;
		padding-right: 3px !important;
	}
}
@media screen and (max-width: 1200px) {
	#nav-container .navbar-nav > .nav-item > .nav-link, .lien_connexion {
		font-size: 0.85rem !important;
		white-space: nowrap;
		overflow-x: hidden;
		padding-left: 1px !important;
		padding-right: 1px !important;
	}
}
@include media-breakpoint-down($navbar_collapse_breakpoint) {

	.navbar-collapse {
		.account_button {
			display: none !important;
		}
	}

	.nav_spacer {
		display: none;
	}

	#nav-container {

		.navbar-nav {
			margin: auto !important;

			.nav-item  {
				.nav-link {
					text-align: center;
					padding: 0.2rem 0 !important;
					font-size: 1.1rem !important;
					font-weight: 700;
				}
			}
			.nav-item.dropdown  {

				.dropdown-menu {
					padding: 0;
					overflow: hidden;
					max-height: 0;
					transition: 0.1s;

					.nav-item  {
						.nav-link {
							text-align: center;
							padding: 0.15rem 0 !important;
							font-size: 1rem !important;
							font-weight: 500;
						}
					}
					.nav-item:first-child .nav-link {
						font-weight: 700;
					}
				}

				.dropdown-menu.show {
					max-height: 300px;
					transform: none;
					padding-bottom: 14px;
				}
			}
		}
	}

	.lien_connexion.icon {
		/*position: absolute !important;
		top: 7px !important;
		right: 49px;*/
		padding: 5px 8px !important;
		background-color: $color_black;
	}

	.lien_connexion.txt {
		width: 100%;
		position: absolute;
		z-index: 100;
		bottom: 30px;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		font-size: 1.5rem !important;
		color: $color_black !important;
		opacity: 0;
	}

	.help_button {
		margin: 0 !important;
		margin-top: 20px !important;
		text-align: center;

		i {
			color: $color_black !important;
		}
	}

	.collapse.show {
		.lien_connexion.txt {
			opacity: 1;
		}
	}
}


.subnav {
	background-color: $color_black2;
	padding: 12px 20px;
	color: $color_white;
	font-size: 1rem;
	font-weight: 500;

	.container {
		display: flex;
		justify-content: space-between;
	}

	p {
		margin: 0;
	}

	.search_link {
		display: flex !important;
		cursor: pointer;
		display: block;
		position: relative;
		align-items: center;
		margin-left: 30px;
		//background-color: red;
		//width: 26px;

		img {
			margin-left: 8px;
			width: 20px;
			height: auto;
			object-fit: contain;
		}

		@include media-breakpoint-down(sm) {
			.txt_search {
				display: none;
			}
		}
	}
}
@include media-breakpoint-down($responsive_breakpoint) {
	.subnav {
		//margin-top: 50px;
		font-size: 0.9rem;
	}
}


.search_overlay.resp { display: none; }
.search_overlay.active {
	max-width: 600px;
	max-height: 600px;
	padding: 20px;
	padding-top: 0;
	border: 1px solid $color_gris;
}
.search_overlay {
	cursor: initial;
	position: absolute;
	z-index: 11;
	overflow: hidden;
	top: 0;
	right: 0;
	max-width: 0;
	max-height: 0;
	padding: 0;
	background-color: $color_white;
	//border: 1px solid transparent;
	transition: 0.3s;

	.close_container {
		display: block;
	}
	.close {
		cursor: pointer;
		font-size: 2rem;
		float: none;
	}

	.search-form {
		display: flex;

		label {
			margin: 0;
		}

		.search-field {
			border: none;
			padding: 3px 14px;
			background-color: #dddddd;
			font-size: 1rem;
			min-width: 300px;
			margin-right: 10px;
			border-radius: 1000px;
		}

		.search-submit {
			cursor: pointer;
			padding: 0.1rem 1.5rem;
			font-size: 1rem;
			line-height: 0.7rem;
			font-weight: 700;
			letter-spacing: 0;
			color: $color_black;
			background-color: $color_jaune;
			border-radius: 1000px;
			border: 2px solid $color_jaune;
			text-decoration: none;
			transition: 0.5s;
		}
	}
}

// ----------------------------------------------------------

// NAVBAR - GÉNÉRAL
.navbar {
	z-index: 1000;
	width: $navbar_width;
	background-color: $navbar_bgcolor !important;
	@if $navbar_bggradient != 0 {
		background: $navbar_bggradient;
	}
	box-shadow: 0px 0px $navbar_shadow_height rgba(0, 0, 0, $navbar_shadow_opacity);
	@if $navbar_position == fixed_top {
		position: fixed;
		top: 0;
	}
	@if $navbar_position == fixed_bottom {
		position: fixed;
		bottom: 0;
	}

	.container {
		@if $navbar_contained == 0 { 
			max-width: none !important; 
			padding: 0;
		}
	}

	.puller {
		@if $navbar_toggler_position == 'left' {
			display: none;
		}
	}

	.navbar_collapsed_header { display: none; }
}


// NAVBAR - BRAND
.navbar-brand {
	height: $navbar_brand_height;

	@if $navbar_brand_vertical_position == top { align-self: flex-start; }
	@if $navbar_brand_vertical_position == bottom { align-self: flex-end; }

	img {
		height: 100%;
		width: auto;
	}
}


// NAVBAR - LIENS
@if $navbar_links_align == right {
	.nav-item:first-child {
		margin-left: auto;
	}
}
@if $navbar_links_align == center {
	.nav-item:first-child, .nav-item.icon:first-child {
		margin-left: auto !important;
	}
	.nav-item:last-child, .nav-item.icon:last-child {
		margin-right: auto !important;
	}
}
.nav-item {
	position: relative;
	margin: $navbar_links_margin;

	.nav-link {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		font-size: $navbar_links_fontsize;
		font-weight: $navbar_links_fontweight;
		color: $navbar_links_color;
		background-color: $navbar_links_bgcolor;
		border-radius: $navbar_links_border_radius;
		padding: $navbar_links_padding-y $navbar_links_padding-x !important;
		transition: $navbar_links_animtime;
		@if $navbar_links_forceuppercase == 1 {
			text-transform: uppercase;
		}
		@if $navbar_dropdown_animation_type == slide_fixed_title {
			z-index: 10000 !important;
		}
	}

	@if $navbar_underline_use == 1 {
		.nav-underline {
			position: absolute;
			bottom: 0;
			background-color: $navbar_underline_color;
			transition: $navbar_underline_animtime;

			@if $navbar_underline_popdirection == 'left' {
				height: $navbar_underline_height;
				width: 0;
				left: 0;
			}

			@if $navbar_underline_popdirection == 'right' {
				height: $navbar_underline_height;
				width: 0;
				right: 0;
			}

			@if $navbar_underline_popdirection == 'center' {
				height: $navbar_underline_height;
				width: 0;
				left: 50%;
				transform: translateX(-50%);
			}

			@if $navbar_underline_popdirection == 'bottom' {
				height: 0;
				width: $navbar_underline_width;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
	@else { .nav-underline { display: none; } }

}


// NAVBAR - LIENS HOVER
.nav-item:hover, .nav-item:active, .nav-item.active, .nav-item.show {

	.nav-link {
		color: $navbar_links_color_hover;
		background-color: $navbar_links_bgcolor_hover;
		border-radius: $navbar_links_border_radius_hover;
	}

	@if $navbar_underline_use == 1 {
		.nav-underline {

			@if $navbar_underline_popdirection == 'left' {
				width: $navbar_underline_width;
			}

			@if $navbar_underline_popdirection == 'right' {
				width: $navbar_underline_width;
			}

			@if $navbar_underline_popdirection == 'center' {
				width: $navbar_underline_width;
			}

			@if $navbar_underline_popdirection == 'bottom' {
				height: $navbar_underline_height;
			}

		}
	}

}

// NAVBAR - ICONES
.nav-item.icon {
	margin: 0 $navbar_icon_margin !important;


	.nav-link {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	.nav-link:hover {
		background-color: transparent !important;
	}

	.nav_icon_container {
		border: $navbar_iconcontainer_border;
		border-radius: $navbar_iconcontainer_borderradius;
		padding: $navbar_iconcontainer_padding;
		background-color: $navbar_iconcontainer_bgcolor;
		height: $navbar_icon_border_size;
		width: $navbar_icon_border_size;
		transition: $navbar_iconcontainer_animtime;

		i {
			@extend %absolutecenter_xy;
			color: $navbar_links_color;
			transition: $navbar_links_animtime;
			font-size: $navbar_icon_size;
		}
	}
}

.nav-item:hover {

	.nav_icon_container {
		border: $navbar_iconcontainer_border_hover;
		border-radius: $navbar_iconcontainer_borderradius_hover;
		background-color: $navbar_iconcontainer_bgcolor_hover;
	}

	i {
		color: $navbar_links_color_hover;
	}
}


// NAVBAR - DROPDOWNS
.nav-item .dropdown-menu {
	z-index: 10;
	padding: $navbar_dropdown_padding-y $navbar_dropdown_padding-x;
	background-color: $navbar_dropdown_bgcolor;
	border-radius: $navbar_dropdown_borderradius !important;
	border: $navbar_dropdown_bordersize solid $navbar_dropdown_bordercolor;
	box-shadow: $navbar_dropdown_shadow !important;
	@if $navbar_dropdown_position == below {
		top: 100%;
		transform: translateY(16px);
	}
	@if $navbar_dropdown_position == above {
		top: 0;
	}

	.nav-link {
		transform: none;
	}

	@if $navbar_dropdown_animation_type == slide_fixed_title {
		top: 0;
		left: calc(-#{$navbar_dropdown_links_padding-x} - #{$navbar_dropdown_padding-x} + #{$navbar_links_padding-x});
	}

	a, .nav-link { 
		cursor: pointer;
		white-space: nowrap;
		//color: $navbar_dropdown_link_color;
		@if $navbar_dropdown_links_forceuppercase == 1 {
			text-transform: uppercase;
		} @else {
			text-transform: none;
		}
		font-size: $navbar_links_fontsize;
		padding: $navbar_dropdown_links_padding-y $navbar_dropdown_links_padding-x !important;
		text-align: $navbar_dropdown_links_align;
	}

	a:hover, .nav-link:hover {
		color: $navbar_dropdown_link_colorhover;
		background-color: $navbar_dropdown_links_bghover;
	}

	@if $navbar_dropdown_animation_type != none {
		transition: $navbar_dropdown_animation_time;
		display: block !important;
	}

	@if $navbar_dropdown_animation_type == unfold {
		overflow: hidden;
		padding: 0;
		max-height: 0;
	}

	@if $navbar_dropdown_animation_type == opacify {
		opacity: 0;
		pointer-events: none;
	}

	@if $navbar_dropdown_animation_type == slide OR $navbar_dropdown_animation_type == slide_fixed_title {
		opacity: 0;
		pointer-events: none;
		transform: translateY(50px);
	}

	@if $navbar_dropdown_animation_type == slide_fixed_title {
		padding-top: 60px;
	}
}

.nav-item .dropdown-menu.show {
	@if $navbar_dropdown_animation_type == none {
		display: block;
	}

	@if $navbar_dropdown_animation_type == unfold {
		padding: $navbar_dropdown_padding-y $navbar_dropdown_padding-x;
		max-height: 50vh;
	}

	@if $navbar_dropdown_animation_type == opacify {
		opacity: 1;
		pointer-events: auto;
	}

	@if $navbar_dropdown_animation_type == slide OR $navbar_dropdown_animation_type == slide_fixed_title {
		opacity: 1;
		pointer-events: auto;
		transform: translateY(4px);
	}
}

.nav-item.dropdown {
	.nav-item {
		margin: 0;
	}
}


// NAVBAR - TOGGLER

// Gestion angle si toggler trop allongé
$togglerbar_angle: 45deg;
/* $navbar_toggler_ratio: $navbar_togglericon_height / $navbar_togglericon_width;
@if $navbar_toggler_ratio < 0.5 { $togglerbar_angle: 25deg; } */

.navbar-toggler {
	z-index: 100;
	cursor: pointer;
	background-color: $navbar_toggler_bgcolor;
	font-size: $navbar_togglericon_size;
	border: $navbar_toggler_border;
	border-radius: $navbar_toggler_borderradius;

	.navbar-toggler-icon {
		position: relative;
		width: $navbar_togglericon_width;

		.toggler-bar {
			position: absolute;
			width: 100%;
			left: 0;
			height: $navbar_togglerbar_height;
			background-color: $navbar_togglerbar_color;
			transform-origin: center center;
			transform: translateY(-50%);
			transition: $navbar_toggler_animtime;
		}
		// Barres quand le menu est ouvert
		.top-bar {
			top: 50%;
			transform: translateY(-50%) rotate($togglerbar_angle);
		}
		.middle-bar {
			top: 50%;
			opacity: 0;
			transition: $navbar_toggler_animtime;
		}
		.bottom-bar {
			top: 50%;
			transform: translateY(-50%) rotate(-$togglerbar_angle);
		}
	}
}

@if $navbar_toggler_animation == 1 {
	.navbar-toggler.collapsed {
		transform: translateY(0%);
		.navbar-toggler-icon {
			// Barres quand le menu est fermé
			.top-bar {
				top: 0;
				transform: translateY(0%) rotate(0deg);
			}
			.middle-bar {
				opacity: 1;
				transition: $navbar_toggler_animtime;
			}
			.bottom-bar {
				top: 100%;
				transform: translateY(-100%) rotate(0deg);
			}
		}
	}	
}


// NAVBAR - COMPORTEMENT RESPONSIVE

.navbar-brand.floating {
	position: absolute;
	z-index: 1000;
	top: 19px;
	left: 32px;
	display: none;
}

.bouton_menu_responsive { display: none; }
.usermenu_resp { display: none; }

@include media-breakpoint-down($navbar_collapse_breakpoint) {

	.navbar_container {
		position: fixed;
		z-index: 10000;
		top: 0;
		height: 50px;
		width: 100%;
		background-color: $color_jaune;
	}

	.bouton_menu_responsive {
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 4px;
		padding-left: 10px;
		margin-left: auto;
		margin-right: 10px;
		text-align: center;

		* {
			color: $color_white;
		}

		div {
			font-size: 0.7rem;
			line-height: 0.7rem;
			font-weight: 900;

		}

		i {
			font-size: 2.8rem;
			line-height: 1.3rem;
			font-weight: 700;
		}
	}

	.navbar-brand.floating {
		display: block;
		top: 5px;
		left: 10px;
		height: 40px;
	}

	.navbar-brand {
		position: absolute;
		margin: 0 !important;
		top: 5px;
		left: 10px;
		height: 40px;
		max-height: 40px !important;
		
		.texte {
			position: absolute;
			top: 0;
			right: -10px;
			transform: translateX(100%);
			font-size: 0.95rem !important;
			line-height: 1.1rem !important;
		}
	}

	.navbar-toggler {
		position: absolute;
		right: 0;
		top: 6px;
	}
	
	.navbar {
		position: fixed;
		padding: 0;

		button {
			order: 3;
		}

		.usermenu_resp {
			position: absolute;
			z-index: 100;
			display: block;
			order: 2;
			top: 6px;
			right: 50px;
			
			.user_menu {
				bottom: -4px;
			}

			> a > i {
				margin-top: 2px;
				font-size: 1.7rem;
				color: $color_jaune;
			}
		}

		.navbar-brand {
			order: 1;
			//display: none;
			margin: 8px;
			margin-bottom: 12px;
			max-height: 32px;
		}
		.puller { display: none; }

		/* .nav-item:first-child {
			margin: $navbar_links_margin;
		}
		.nav-item:last-child {
			margin: $navbar_links_margin;
		} */

		@if $navbar_collapse_keep_underline == 0 {
			.nav-underline {
				display: none;
			}
		}

		@if $navbar_collapse_direction == horizontal {
		
			.navbar-collapse { 
				height: $navbar_collapse_height !important;
				width: $navbar_collapse_width !important;
				transform: translateX(100%);
				/* width: $navbar_collapse_width; */

				@if $navbar_collapse_position == right {
					left: auto;
					right: 0; 
				}
			}

			.navbar-collapse.show {
				transform: translateX(0%) !important;
				transition: 0.5s;
			}

		}

		.navbar-collapse {
			@if $navbar_collapse_bgcolor != keep { background-color: $navbar_collapse_bgcolor; }
			@else { background-color: $navbar_bgcolor; }
			width: $navbar_collapse_width;
			transition: 0.5s;
			transition-delay: 0;

			/* .filler {
				position: absolute;
				pointer-events: none;
				height: 100vh;
				width: 100%;
			} */

			.container {
				display: flex;
				height: $navbar_collapse_height;
				flex-direction: column;
			
				/* width: 100%; */
				@if $navbar_collapse_content_horizontal_align == left { justify-content: flex-start; }
				@if $navbar_collapse_content_horizontal_align == center { justify-content: center; }
				@if $navbar_collapse_content_horizontal_align == right { justify-content: flex-end; }

				.col {
					padding: $navbar_collapse_col_padding;
					flex-grow: initial;
					@if $navbar_collapse_content_vertical_align == top { align-self: flex-start; }
					@if $navbar_collapse_content_vertical_align == center { align-self: center; }
					@if $navbar_collapse_content_vertical_align == bottom { align-self: flex-end; }

					.etage {
						padding: $navbar_collapse_etage_padding;
						width: 100%;
						flex-grow: initial;

						img {
							width: 100%;
							height: auto;
						}
					}
				}

				.navbar-nav {
					display: inline-block;
					/* @if $navbar_collapse_vertical_align == top { align-self: flex-start; }
					@if $navbar_collapse_vertical_align == bottom { align-self: flex-end; } */
					text-align: $navbar_collapse_links_centering;

					a {
						font-size: $navbar_collapse_links_fontsize !important;
						font-weight: $navbar_collapse_links_fontweight;
					}

					.nav-item.icon {
						display: inline-block;
					}


					.nav-link {
						@if $navbar_collapse_links_color != keep { color: $navbar_collapse_links_color; }
						transform: none;
					}
					.nav-link .nav_icon_container {
						@if $navbar_collapse_links_color != keep { border-color: $navbar_collapse_links_color; }
						i {
							@if $navbar_collapse_links_color != keep { color: $navbar_collapse_links_color; }
						}
					}
					
				}
			}
		}	
	}


	// Passage en mode nobar
	@if $navbar_collapse_nobar == 1 {
		.navbar {
			padding: 0;
			background-color: transparent;
		}

		.navbar-toggler {
			position: fixed;
			top: $navbar_toggler_distance;
			@if $navbar_toggler_position == left { left: $navbar_toggler_distance; }
			@if $navbar_toggler_position == right { right: $navbar_toggler_distance; }

		}

		.navbar-collapse {
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
		}
	}

	// Gestion dropdown en responsive
	.nav-item .dropdown-menu {
		position: relative;
		transition: none;
		display: block;
		opacity: 1;
		transform: none;
		padding-top: 0;
		background: none;
		background-color: none;
		@if $navbar_collapse_links_centering == left { padding-left: $navbar_collapse_dropdown_decalage; }
		@if $navbar_collapse_links_centering == right { padding-right: $navbar_collapse_dropdown_decalage; }
	}

}




