
.toolbox_container {
	margin-bottom: 30px;

	.toolbox {
		width: 40%;
		margin-left: 60%;
		padding: 16px;

		p {
			font-size: 0.9rem;
			margin-bottom: 4px;
		}

		a {
			display: block;
			color: $color_black2;
			text-align: center;
			margin-bottom: 12px;
			font-size: 0.9rem;
		}

		textarea {
			width: 100%;
			font-size: 0.85rem;
			height: 3rem;
		}
	}
}

.display_switcher_container {
	margin-bottom: 20px;

	.display_switcher {
		display: flex;
		width: 100px;
		padding: 10px !important;

		.btn {
			cursor: pointer;
			height: 35px;
			width: 35px;
			margin-right: 10px;
			background-color: lighten($color_gris, 15%);
			display: flex;
			justify-content: center;
			text-align: center;

			i {
				opacity: 0.7;
				font-size: 1.3rem;
			}
		}
		.btn.active {
			cursor: initial;
			box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3) inset;
			background-color: $color_gris;

			i {
				opacity: 1;
			}
		}
	}
}

.data_bas {
	margin-top: 70px;
}

.page-template-template-data-carte-groupes {
	main, .data_content {
		max-width: 100%;
	}

	section#carte {
	    padding: 0;

	    #mapid {
	    	margin-bottom: 12px;
	    }
	}
}

.page-template-template-base, .page-template-template-data-base, .single-page, .page-template-template-page-liens-utiles {

	.entete_page {
		margin-bottom: 40px;
	}

	.serveursdiscord {


		.serveurdiscord {
			margin-bottom: 30px;

			img {
				width: 100%;
			}

			h4 {
				color: $color_black2;

				a { text-decoration: none; }
				a:hover { color: $links_hover; }
			}

			p {

			}
		}
	}


	.liens {

		.titre_cat {
			display: block;
			margin-top: 30px;
			padding: 8px 10px;
			background-color: $color_black2;
			text-decoration: none;
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
			color: $color_white;

			h4 {
				margin: 0;
				

				i {
					margin-right: 6px;
					transform: rotate(90deg);
					transition: 0.15s;
				}
			}
		}
		.titre_cat:hover, .titre_cat:hover.collapsed {
			color: $color_jaune;
			i {
				transform: rotate(45deg);
			}
		}
		.titre_cat.collapsed {
			i {
				transform: rotate(0deg);
			}
		}

		.contenu_cat {
			background-color: $color_white;
			border-bottom-left-radius: 6px;
			border-bottom-right-radius: 6px;

			ul {
				list-style: none;
				padding: 15px 20px;

				li {
					padding: 0 7px;

					a {
						display: block;
						padding: 10px;
						border-radius: 4px;
						color: $color_black;
						background-color: $color_jaune;
						margin-bottom: 14px;
						text-decoration: none;

						img {
							width: 100%;
							height: 130px;
							object-position: top;
							object-fit: cover;
						}

						.libelle, .description {
							background-color: $color_jaunepale;
							margin: 0;
							padding: 8px;
						}

						.libelle {
							font-size: 0.95rem;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}

						.description {
							padding-top: 0;
							font-size: 0.9rem;
							line-height: 1.1rem;
							font-weight: 300;
							height: 4.8rem;
							overflow: hidden;
						}
					}
					a:hover {
						color: $color_black;
						background-color: lighten($color_jaune, 10%);
					}
				}
			}
		}
	}

	.liens.liste {
		.contenu_cat {
			ul {
				flex-direction: column;
				list-style: disc;
				padding-left: 40px;

				li {
					width: 100%;
					max-width: 100%;
					padding: 0;

					a {
						padding: 0;
						border-radius: 0;
						background-color: transparent;
						margin-bottom: 0;
						text-decoration: none;
						margin-bottom: 10px;

						img {
							display: none;
						}

						.libelle, .description {
							display: inline-block;
							background-color: transparent;
							padding: 0;
							line-height: 0.9rem;
						}

						.libelle {
							display: block;
							color: $color_jaunefonce;
							margin-bottom: 4px;
						}

						.description {
							height: auto;
							font-weight: 400;
							margin-bottom: 0;

							p {
								margin: 0;
							}
						}
					}
					a:hover {
						color: $color_black;
						background-color: transparent;

						.libelle {
							color: $color_jaunefonce;
						}
					}
				}
				li:last-child {
					a {
						margin: 0;
					}
				}
			}
		}
	}

	@include media-breakpoint-down($responsive_breakpoint) {


	}

}

.container.news {
	.actualites {
		.listeactions {
			margin-bottom: 10px;
		}

		.haut {
			h4 {
				font-size: 1.8rem;
				font-weight: 700;
			}
			margin-bottom: 20px;
		}

		.bas {
			display: flex;

			.col_image {
				flex: 1;

				img {
					width: 100%;
				}
			}

			.col_content {
				flex: 2;
				padding-left: 20px;
			}
		}
	}
}



@include media-breakpoint-down($responsive_breakpoint) {
	.toolbox_container {

		.toolbox {
			width: 100%;
			margin-left: 0;
		}
	}

	.serveursdiscord {
		.serveurdiscord {

			img {
				width: 100%;
				max-height: 200px;
				object-fit: cover;
				margin-bottom: 10px;
			}

			.bouton_type_1 {
				text-align: center;
			}
		}
	}

	.container.news {
		.actualites {
			.bas {
				.col_content {
					padding: 0;
				}
			}
		}
	}
}
