
.template-actualites {

	#main {
		
	}

	
	

	@include media-breakpoint-down($responsive_breakpoint) {

		.site-main {
		    padding: 0;
		}

		section .content {
			width: 100% !important;
		}
		
	}

}

$color_ongletdep: $color_jaune;
.page-template-template-page-agenda-national, section.dernieres_actus {
	.entete_page {
		margin-bottom: 80px;
	}

	.news_container {
		position: relative;
		margin-top: 60px;
		padding: 0;

		.onglet_dep {
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			transform: translateY(-100%);
			height: 32px;
			padding: 0 16px;
			background-color: $color_ongletdep;
			display: flex;
			align-items: center;
			font-weight: 700;

			p {
				margin: 0;
			}

			.triangle {
				position: absolute;
				top: 0;
				right: 0;
				transform: translateX(100%);
				border: 16px solid transparent;
				border-left: 16px solid $color_ongletdep;
				border-bottom: 16px solid $color_ongletdep;
			}
		}

		.droite {
			padding: 24px;

			h2 {
				margin-top: 12px;
				font-size: 1.7rem;
			}

			.more-link {
				text-align: left;
			}
		}
	}
}


body[class*="single-actu"] {
	@include media-breakpoint-down($responsive_breakpoint) {
		> .site {
			padding-top: 100px !important;

			.subnav {
				display: none;
			}
		}
	}
}

.single {

	@include media-breakpoint-down($responsive_breakpoint) {
		.site-main {
			padding: 0;

			> .container {
				padding: 0;
			}
		}

		.subnav {
			display: none;
		}
	}

	.page_content {
		min-height: 55vh;
	}

	.forbidden_access {
		margin-top: 50px;
	}

	.single-news {
		padding: 30px;

		h1.departement {
			font-size: 3rem;
			font-weight: 600;
			color: $color_rouge;
			//text-transform: initial;
		}

		h1 {
			margin-top: 20px;
		}

		.post_columns {
			margin: 30px 0;

			.gauche {
				@include media-breakpoint-down($responsive_breakpoint) { padding: 0 }

				img {
					margin-top: 8px;
					width: 100%;
					height: auto;
				} 
			}
		}
	}

	#comments {
		margin-top: 50px;
		padding: 20px;
		background-color: $color_lightgrey;

		ul {
			list-style: none;
		}

		h2 {
			font-weight: 700;
		}

		a {
			color: $color_rouge;
		}

		.comment-body {
			padding: 6px;
			background-color: darken($color_white, 6%);
			margin-bottom: 10px;

			.haut {
				display: flex;
				padding-bottom: 6px;
				border-bottom: 1px solid $color_lightgrey;

				.gauche {
					img {
						width: 39px;
					}
				}

				.droite {
					flex: 1;
					padding-left: 10px;

					.nom {
						line-height: 1.15rem;
					}

					cite {
						font-style: initial;
						font-weight: 700;
					}

					.date {
						color: lighten($color_black, 40%);
						font-size: 0.9rem;
					}

					.departement {
						font-size: 0.75rem;
						line-height: 0.75rem;
					}

					.role {
						color: blue;
					}
				}

				.comment_link_container {
					pointer-events: none;
					opacity: 0;
					font-size: 0.9rem;
					transition: 0.3s;
					transition-delay: 0.2s;
				}
			}

			.bas {
				padding-top: 6px;

				.comment-awaiting-moderation {
					color: green;
					margin-bottom: 6px;
				}

				.texte_commentaire {
					padding: 4px;
					background-color: darken($color_white, 3%);
				}

				.droite {

				}
			}

			.reply {
				color: $color_rouge;
				i { font-size: 0.9rem; }
			}
		}
		.comment-body:hover {
			.comment_link_container {
				pointer-events: all;
				opacity: 1 !important;
			}
		}

		#reply-title {
			color: $color_black;
			font-size: 2rem;
			font-weight: 700;
			padding-bottom: 4px;
			border-bottom: 1px solid #999;
			margin-bottom: 25px;
		}

		.comment-list {
			padding: 0;
		}

		.comment-respond {
			margin: 24px 0;

			h3 {
				margin-bottom: 10px !important;
				font-size: 1.7rem !important;
			}

			#cancel-comment-reply-link {
				color: $color_rouge;
			}

			.comment-form-comment {
				margin: 10px 0;

				label { display: none; }

				textarea {
					width: 100%;
					padding: 10px;
					border: 0;
				}
			}

			.nom {
				color: $color_rouge;
			}

			.disclaimer {
				margin-bottom: 10px;
				font-size: 0.92rem;
				font-weight: 400;
				font-style: italic;
			}
		}

		
	}
	
}


