
.template-presse {

	#main {
		
	}

	.presse_liens, .presse_fichiers {
		margin-bottom: 50px;
	}
	

	@include media-breakpoint-down($responsive_breakpoint) {

		.site-main {
		    padding: 0;
		}

		section .content {
			width: 100% !important;
		}
		
	}

}


