
.template-espace-protege {
	background-color: lighten($color_lightgrey, 6%);

	.entry-title {
		i {
			margin-left: 6px;
			transform: scale(0.8);
		}
	}

	.protected_forum_link_container {
		margin-bottom: 20px;
		text-align: right;
	}

	.protected_forum {
		#bbpress-forums {
			background-color: darken($color_white, 3%);
		}
	}

	
	

	@include media-breakpoint-down($responsive_breakpoint) {

		.site-main {
		    padding: 0;
		}

		section .content {
			width: 100% !important;
		}
		
	}

}

.protected_forum {
	.entry-title {
		i {
			margin-left: 6px;
			transform: scale(0.8);
		}
	}
}

