
.template-page-faq {

	.faq_content {
		margin-top: 20px;
		padding: 16px;

		.faq_container {
			margin-bottom: 10px;

			.question {
				padding-bottom: 10px;
				display: block;
				font-size: 1.1rem;
				color: $color_rouge;
				text-decoration: none;
				border-bottom: 1px solid $color_jaunefonce; 
				transition: 0.2s;

				i {
					font-size: 1rem;
					transform: rotate(90deg);
					transition: 0.2s;
				}
			}
			.question.collapsed {
				color: darken($color_rouge, 10%);
				i {
					transform: rotate(0deg);

				}
			}

			.reponse {

				.txt_container {
					padding: 20px;
					border-bottom: 1px solid $color_jaunefonce; 
					background-color: darken($color_white, 4%);

					p:last-child {
						margin: 0;
					}

					a {
						font-weight: 500;
						color: $color_rouge;
					}
				}
			}
		}
	}

	


	@include media-breakpoint-down($responsive_breakpoint) {

		.faq_content {
			.faq_container {
				.question {
					font-size: 1rem;
				}

				.reponse {
					p {
						font-size: 0.9rem;
					}
				}
			}
		}
	}

}


.changelog_content {
	.titre {
		font-size: 1.3rem;
		font-weight: 600;
		margin-bottom: 5px;

		i {
			color: $color_jaunefonce;
		}
	}

	.date {
		margin-bottom: 12px;
		color: $color_gris;

		.trait {
			display: inline-block;
			width: 24px;
			height: 1px;
			background-color: $color_gris;
			transform: translateY(-4px);
		}
	}

	.separateur {
		margin: 30px 0;
		background-color: $color_gris;
	}
	.separateur:last-child { display: none; }
}