
.template-comptes-rendus {

	#main {
		
	}
	

	@include media-breakpoint-down($responsive_breakpoint) {

		.site-main {
		    padding: 0;
		}

		section .content {
			width: 100% !important;
		}
		
	}

}


