.outils_ada {
	margin-bottom: 90px;

	* {
		text-align: center;
	}

	.bloc_container {
		padding: 30px 24px;

		.logo_container {
			margin-bottom: 20px;

			img {
				height: 70px;
			}
		}

		.titre {
			color: $color_black;
			font-size: 1.45rem;
			margin-bottom: 14px;
		}

		.description {
			margin-bottom: 25px;
		}

		a.bouton {
			color: $color_black;
		}
	}
}

.page-ada-template, .actu-ada-template-default {

	@include media-breakpoint-down($responsive_breakpoint) {
		> .site {
			padding-top: 100px;
		}

		.subnav { display: none; }
	}
	

	.main_content_container {
		> .container {
			max-width: 1250px;

			section {
				max-width: 1250px;
			}
		}
	}

	.outils_ada {
		margin-bottom: 90px;

		* {
			text-align: center;
		}

		.bloc_container {
			padding: 30px 24px;

			.logo_container {
				margin-bottom: 20px;

				img {
					height: 70px;
				}
			}

			.titre {
				color: $color_black;
				font-size: 1.45rem;
				margin-bottom: 14px;
			}

			.description {
				margin-bottom: 25px;
			}

			a.bouton {
				color: $color_black;
			}
		}
	}


	@include media-breakpoint-down($responsive_breakpoint) {

		
	}

}


.page-ada-template-template-ada-accueil, .page-fagj-template-template-fagj-accueil {
	.news_container {
		.titre h2 {
			color: $color_jaunefonce;
		}
	}
}

.page-ada-template-template-ada-actus, .page-fagj-template-template-fagj-actus {
	.news_container {
		.droite {
			padding: 24px;
		}
	}
}

.page_ada, .souspage_ada {
	.bloc_haut {
		margin-bottom: 50px;

		> *:last-child {
			margin-bottom: 0;
		}
	}

	.bloc_ada, .sidebar_container  {
		padding: 0;
		margin-bottom: 50px;

		.main_content {
			.titre_container {
				display: block;
				padding: 10px;
				background-color: $color_jaune;
	
				.titre {
					margin: 0;
					font-weight: 700;
					color: $color_black;
				}
			}

			.texte_container {
				padding: 30px;
			}

			.footer {
				padding: 0 30px;
				margin-bottom: 30px;
			}
		}

		.sidebar {
			background-color: $color_lightgrey;
			
			> .titre {
				padding: 10px;
				padding-left: 36px;
				color: $color_white;
				background-color: $color_black2;
				margin: 0;

				.triangle {
					position: absolute;
					left: 0;
					top: 0;
					border: 24px solid transparent;
					border-left: 24px solid $color_jaune;
				}
			}

			.sidebar_content {
				padding: 20px;

				.sidebar_title {
					background-color: lighten($color_black2, 20%);
				}

				.widget {
					margin-bottom: 30px;
				}
				.widget:last-child {
					margin: 0;
				}

				.ligne {
					padding: 10px;
					background-color: darken($color_white, 7%);
					transition: 0.1s;
					margin-bottom: 8px;

					.icon_container {
						margin-right: 14px;
						transition: 0.1s;

						i {
							font-size: 2rem;
							transition: 0.1s;
							color: $color_jaunefonce;
						}
					}

					.label {
						color: $color_black2;

						* { margin: 0 }

						.titre {
							line-height: 1.1;
						}

						.soustitre {
							font-weight: 400;
							font-style: italic;
							opacity: 0.7;
						}
					}
				}
				.ligne:hover {
					background-color: $color_white;

					.icon_container {
						margin-right: 20px;

						i {
							transform: scale(1.15);
						}
					}
				}

				.no_entry {
					padding: 10px;
					background-color: darken($color_white, 7%);
					font-size: 0.9rem;
					line-height: 1.1;
					color: $color_black2;

					p {
						margin-bottom: 10px;
					}
					p:last-child {
						margin: 0;
					}
				}
			}
		}

		
	}
}

.souspage_ada {
	main {
		padding: 0 16px;
	}
	.entete_page {
		max-width: 1400px;
		margin-bottom: 30px;
		padding: calc(20px + 1vw);
	}

	.sidebar_zone {
		max-width: 1430px;
	}

	.main_content {
		display: flex;
		flex-direction: column;
	}

	.module_bloc {
		padding: 0;
		margin-bottom: 34px;

		.module_titre {
			display: flex;
			justify-content: space-between;
			padding: 20px;
			color: $color_black2;
			background-color: $color_lightgrey;
			font-size: 1.3rem;
			transition: 0.3s;

			i {
				color: $color_black;
				transform: rotate(0) translateY(4px);
				transform-origin: 50% 45%;
				transition: 0.3s;
			}
		}
		.module_titre.collapsed {
			i {
				transform: rotate(180deg);
			}
		}
		.module_titre:hover {
			color: darken($color_jaunefonce, 10%);
			i {
				color: darken($color_jaunefonce, 10%);
			}
		}

		.module_content {
			padding: 20px;
		}
	}
	//.module_bloc:last-child { margin-bottom: 0; }

	.galerie_bloc {
		margin-bottom: 40px;

		.titre_galerie {
			font-size: 1.4rem;
			border-bottom: 1px solid $color_black2;
			margin-bottom: 16px;
		}

		.img_container {
			margin-bottom: 30px;
			height: 200px;
			//@include media-breakpoint-down(xl) { height: 160px; }

			img {
				@extend %imgcover;
			}
		}

		.file_container {
			padding: 20px;
			text-align: center;

			.icon_container {
				margin-bottom: 10px;
			}

			i {
				font-size: 3.5rem;
				transition: 0.1s;
			}

			.nom {
				font-size: 0.9rem;
				font-weight: 400;
				color: $color_black;
				transition: 0.1s;
			}
		}
		.file_container:hover {
			i {
				transform: scale(1.15);
			}
			.nom {
				color: $color_jaunefonce;
			}
		}
	}
	.galerie_bloc:last-child { margin-bottom: 0 }

	.sidebar_container {
		padding-right: 15px;

		.titre {
			font-size: 1.2rem !important;
			overflow: hidden;

			.triangle {
				border: 22px solid transparent !important;
				border-left: 22px solid $color_jaune !important;
			}
		}
	}
	
}


.modale_galerie {
	.modal-dialog, .modal-content { background-color: transparent !important; }

	.modal-dialog {
		height: 85vh !important;
		width: 85vw !important;
	}
	
	.close {
		top: -10px !important;
		right: -10px !important;
		transform: translate(100%, -100%);
		color: $color_white !important;
		opacity: 1;
		transition: 0.1s;
	}
	.close:hover {
		color: $color_jaune !important;
		transform: translate(100%, -100%) scale(1.2);
	}

	.carousel_galerie {
		height: 85vh !important;

		.carousel-indicators {
			bottom: -32px;
			@include media-breakpoint-down($responsive_breakpoint) { bottom: 0 }
		}

		img {
			@extend %imgcover;
			object-fit: contain !important;
		}
	}
}