
.template-acces-departements {
	main { padding: 0; }
}

.home {
	footer { margin: 0 !important; }
}

.home, .template-liste-departements, .template-acces-departements {

	main {
		padding-top: 0;
	}

	section {
		max-width: none;
	}

	#carousel_accueil {
		.bg_image {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.delete_user_success {
		padding: 16px;
		color: $color_white;
		background-color: $color_rouge;
		border-radius: 16px;
		margin-bottom: 30px;
	}

	.liste_departements {
		text-align: center;
		padding: 20px;

		> div {
			text-align: left;
			padding-left: 7%;
		}

		a {
			display: inline-block;

			h4 {
				color: $color_black;
				font-size: 1rem;
				font-weight: 500;
				transform: scale(1);
				transition: 0.05s;
			}
		}
		a:hover {
			text-decoration: none;
			h4 {
				color: $color_rouge;
				transform: scale(1.05);
			}
		}
	}

	.francemap_container {
		position: relative;
		margin-top: 50px;
		/*width: calc(100vw - 16px);
		left: 50%;
		transform: translateX(-50%);*/

		.francemap_title {
			background-color: $color_black2;
			color: $color_jaune;
			text-align: center;
			font-size: 1.3rem;
			font-weight: 700;
			padding: 6px 0;
		}

		#francemap {
			margin: auto;
			width: 100%;
			height: 55vw;
			min-height: 500px;
		}

		.francemap_footer {
			width: 100%;
			padding-top: 14px;
			padding-bottom: 20px;
			background-color: $color_black2;
			text-align: center;

			.phrase {
				display: block;
				color: $color_white;
				padding: 0 20px;
				font-size: 0.9rem;
				color: $color_jaune;
				margin-bottom: 10px;
			}

			a {

			}
		}
	}

	.jqvmap-label {
		position: absolute;
		display: none;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		background: #292929;
		color: white;
		font-family: sans-serif, Verdana;
		font-size: smaller;
		padding: 3px;
	}
	.jqvmap-zoomin, .jqvmap-zoomout {
		position: absolute;
		left: 10px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		background: $color_black2;
		padding: 3px;
		color: white;
		width: 34px;
		height: 34px;
		cursor: pointer;
		line-height: 20px;
		text-align: center;
	}
	.jqvmap-zoomin {
		top: 10px;
	}
	.jqvmap-zoomout {
		top: 40px;
	}
	.jqvmap-region {
	  cursor: pointer;
	}
	.jqvmap-ajax_response {
	  width: 100%;
	  height: 500px;
	}



	section.entete {
		.info_message {
			position: absolute;
			z-index: 10;
			top: 20px;
			right: 20px;
			width: 320px;
			padding: 10px;
			background-color: $color_black2;
			border-radius: 6px;

			i {
				color: $color_jaune;
				margin-right: 3px;
			}

			.texte {
				color: $color_white;
				margin-bottom: 10px;

				.site {
					color: $color_jaune;
				}
			}

			a {
				display: block;
				text-align: center;
			}
		}

		.info_message {
			transform: translateX(110%);
			animation-name: infomessage_appear;
			animation-timing-function: ease-out;
			animation-fill-mode: forwards;
			animation-duration: 0.5s;
			animation-delay: 0.5s;
		}
		@keyframes infomessage_appear {
			from { transform: translateX(110%); }
			to { transform: translateX(0%); }
		}

		.top {
			position: relative;
			padding-top: 120px;
			padding-bottom: 50px;

			.logo {
				width: 120px;
				margin-bottom: 20px;
			}

			h1 {
				font-size: 2.5rem;
				color: $color_jaune;
			}

			h2 {
				font-size: 2rem;
				color: $color_white;
			}

			p {
				margin: 20px 0;
				color: $color_white;
			}

			.boutons_container {
				a {
					margin-right: 20px;
				}
			}

			.overlay {
				position: absolute;
				z-index: -1;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.5);
			}

			img.fond {
				position: absolute;
				z-index: -2;
				top: 0;
				left: 0;
				@extend %imgcover;
			}
		}

		.bottom {
			padding: 80px 0;
			background-color: $color_black2;

			.col_texte {
				padding-right: 50px;
				line-height: 1.3rem;
			}

			p {
				color: $color_white;
			}

			.col_acces {
				.titre {
					color: $color_white;
				}
			}
		}
	}

	section.cols_explications {
		padding: 60px 0;
		background-color: $color_white;

		.col-lg-4 {
			padding: 0 40px;
		}
		.col-lg-4:first-child { padding-left: 0; }
		.col-lg-4:last-child { padding-right: 0; }

		.surtitre {
			font-size: 1.2rem;
			color: $color_black2;
			margin-bottom: 8px;
		}

		h2 {
			font-size: 1.6rem;
			font-weight: 700;
			color: $color_jaunefonce;
			margin-bottom: 20px;
		}

	}

	section.dernieres_actus {
		padding: 50px 0;
		
		.news_container {
			padding: 0 20px;

			.onglet_dep {
				left: 20px;
			}

			img {
				width: 100%;
				height: auto;
			}

			.titre * {
				font-size: 1.1rem;
				font-weight: 700;
				color: $color_black;
			}

			.bottom {
				margin: 0;
			}
		}

		.see_all_container {
			text-align: center;

			a {
				font-size: 1.1rem;
			}
		}
		
	}

	section.encart_cartes {
		padding-top: 80px;
		padding-bottom: 50px;
		background-color: $color_jaunepale2;

		.container {
			position: relative;
		}

		h4 {
			font-weight: 700;
		}

		img {
			@extend %imgcover;
			height: 30vw;
			max-height: 450px;
			margin-bottom: 10px;
		}

		.bouton_type_1 {
			display: block;
			text-align: center;
			margin-bottom: 20px;
		}

		.texte {
			a {
				font-weight: 400;
				text-decoration: none;
				color: $color_jaunefonce;
			}
		}
	}

	section.outils_nationaux, .col_acces {
		padding: 60px 0;
		background-color: $color_jaunepale;

		h2 {
			margin-bottom: 30px;
		}

		.lien {
			text-align: center;
			margin-bottom: 30px;
			text-decoration: none;

			.icon {
				width: 60px;
			}

			.titre {
				font-weight: 400;
				text-decoration: none;
			}
		}
	}
	.col_acces {
		padding: 0;
		background-color: transparent;

		a {
			color: $color_black;
		}

		img {
			width: 50px;
		}

		.titre {
			font-size: 0.9rem;
		}
	}

	section.resume_contenu {
		margin-top: 50px;
		margin-bottom: 100px;
		
		.bloc_resume {
			display: flex;
			margin-bottom: 50px;

			img {
				width: 60px;
				margin-right: 10px;
			}

			h3 {
				font-size: 1.9rem;
				font-weight: 700;
			}
		}
	}



	.actus_site_accueil {
		margin-top: 50px;

		> h2 {
			font-size: 2.5rem;
			font-weight: 700;
			color: $color_black;
			text-align: center;
			margin-bottom: 30px;
			padding-bottom: 6px;
			border-bottom: 1px solid $color_black;
		}

		.news_container {
			h2 {
				font-size: 1.5rem !important;
			}

			img {
				height: 20vw;
			}

			.gauche {
				margin-bottom: 10px;
			}
			.droite {
				padding: 0;
			}
		}

		.text-center {
			margin-top: 20px;
		}
	}



	.waiting_message {
		margin: 0 30px;
		margin-top: 50px;
		padding: 20px;
		text-align: center;
		background-color: $color_gris;

		h2 {
			font-weight: 700;
			font-size: 2.8rem;
		}

		p {
			font-size: 1.2rem;
		}
	}

	/*footer {
		margin: 0 !important;
	}*/


	@include media-breakpoint-down($responsive_breakpoint) {

		.waiting_message {
			margin: 0;
			margin-top: 20px;
		}

		.site-main {
		    padding: 0;
		}

		section .content {
			width: 100% !important;
		}

		section.entete {
			.top {
				padding-top: 170px;

				.logo {
					width: 90px;
				}

				.boutons_container {
					a {
						margin-bottom: 10px;
					}
				}
			}

			.bottom {
				padding: 40px 30px;

				.col_texte {
					padding: 0;
					margin-bottom: 40px;
				}
			}
		}

		section.cols_explications {
			.col-lg-4 {
				padding: 0;
				margin-bottom: 40px;
			}
		}

		section.resume_contenu {
			.bloc_resume {
				flex-direction: column;

				.col_icone {
					margin-bottom: 20px;

					img {
						width: 80px;
					}
				}
			}
		}
		
	}

}


