
.template-base {

	.entry-content {
		margin-top: 40px;
		max-width: $website_maxwidth;
		margin-left: auto;
		margin-right: auto;
	}

	.indexblocs_container {
		.bloc_container {
			margin-bottom: 30px;

			.titre {
				font-weight: 700;
				color: $color_jaunefonce;
				margin-bottom: 16px;
			}

			.description {
				margin-bottom: 10px;
			}

			a {
				color: $color_jaunefonce;
				text-decoration: none;
			}
		}
	}

	/*h2 {
		font-size: 2.2rem;
		font-weight: 700;
		border-bottom: 1px solid $color_black;
		margin: 20px 0;
	}*/

}


.template-page-a-propos {
	color: $color_black;

	.entete_page {
		max-width: 1700px;
		margin: auto;
		padding-left: 20px;
	}

	.sidebar_zone {
		margin-top: 0;
		padding: 20px;
	}
	
	.main_content {
		h2 {
		    font-size: 2.2rem;
		    font-weight: 700;
		    border-bottom: 1px solid #000;
		    margin: 20px 0;
		}
	}

	.widget.equipe {
		margin-top: 3.8rem;
	}

	.widget.statistiques {
		display: flex;
		flex-direction: column;

		.sidebar_title {
			order: 1;
		}

		.table_stat {
			order: 2;
			margin-bottom: 20px;
			width: 100%;

			.label {
				font-weight: 700;
			}

			.valeur {
				color: $color_rouge;
				font-weight: 700;
				text-align: right;
			}

			td {
				padding: 3px 6px;
			}

			tr:nth-child(odd) {
				background-color: darken($color_white, 10%);
			}
			tr:nth-child(even) {
				background-color: darken($color_white, 4%);
			}
		}

		.dep_stats_container {
			order: 3;

			.open_dep_detail {
				color: $color_rouge;
				font-weight: 700;
			}
			.open_dep_detail.collapsed {
				color: $color_rouge;
				font-weight: 700;
			}
		}

		.widget_footer {
			margin-top: 16px;
			order: 4;
		}
		.separateur {
			order: 5;
		}

		#liste_dep_pris_en_charge {
			p {
				margin: 0;
				line-height: 0.9rem;
				font-size: 0.8rem;
				opacity: 0.5;
			}

			p.have_moderateur {
				line-height: 1.2rem;
				font-size: 1rem;
				font-weight: 700;
				color: green;
				opacity: 1;
			}
		}
		
	}



	@include media-breakpoint-down($responsive_breakpoint) {


	}

}


.page-template-template-page-coordination-cnr {
	main {
		padding: 0;
	}

	footer {
		margin: 0;
	}

	@include media-breakpoint-down($responsive_breakpoint) {
		iframe {
			min-height: 930px !important;
		}

	}
}

.carte_groupes_container {
	margin: 0;
	max-width: 100%;
	
	iframe {
		margin: 0;
		height: auto;
		width: 100%;
		min-height: 700px;
		border: none;
	}
}

.liste_actus_site {
	.news_container {

	}

	.separateur {
		display: block;
		margin: 35px 0;
		width: 100%;
		height: 1px;
		background-color: $color_black;
	}
	.separateur:last-child { display: none; }
}


.page-template-template-page-statistiques {
	.shadowed_box {
		padding: 30px;
	}

	main {
		display: flex;
		flex-direction: column;
	}

	.titre_bloc {
		font-weight: 700;
		margin-bottom: 20px;
	}

	h4 {
		font-size: 1.3rem;
	}

	.separateur {
		margin: 10px 0;
	}

	section.entete_page {
		order: 1;
	}

	section.equipe {
		order: 2;

		.userlist_container {
			a {
				display: block;
			}
		}
	}

	section.stats_deps {
		order: 3;
		margin-top: 30px;
	}

	.table_stat {
		margin-bottom: 20px;
		width: 100%;

		a {
			color: $color_black;
			font-weight: 400;
		}

		thead {
			color: $color_white;

			td {
				background-color: $color_black2;
			}
			td.admin {
				width: 30px;
			}
		}

		.label {
			font-weight: 700;
		}

		.valeur {
			color: $color_rouge;
			font-weight: 700;
			text-align: right;
		}

		td {
			padding: 3px 6px;
		}

		td.zero {
			color: $color_gris;
		}

		tr:nth-child(odd) {
			background-color: darken($color_white, 10%);
		}
		tr:nth-child(even) {
			background-color: darken($color_white, 4%);
		}

		tbody {
			td.admin {
				text-align: center;
				i { color: green; }
			}
		}
	}
}


@include media-breakpoint-down($responsive_breakpoint) {
	.template-article {
		.main_content_container {
			padding: 0 15px !important;
		}
	}

}


.search-results {
	main {
		margin-top: 30px !important;

		.page-title {
			font-weight: 700;
		}

		.search_container {
			margin-top: 30px;
			margin-bottom: 30px;
			padding: 30px;
			background-color: $color_white;
			border: 2px solid $color_jaune;

			.search-field {
				border: none;
				padding: 3px 14px;
				background-color: #dddddd;
				font-size: 1rem;
				min-width: 300px;
				margin-right: 10px;
				border-radius: 1000px;
			}

			.search-submit {
				cursor: pointer;
				padding: 0.55rem 1.5rem;
				font-size: 1rem;
				line-height: 0.7rem;
				font-weight: 700;
				letter-spacing: 0;
				color: $color_black;
				background-color: $color_jaune;
				border-radius: 1000px;
				border: none;
				text-decoration: none;
			}
		}

		article {
			display: flex;
			margin-bottom: 35px;
			background-color: $color_grisclair;
			font-size: 01rem;
	
			.image_container {
				max-width: 35%;
				background-color: $color_white;
	
				img {
					@extend %imgcover;
					object-fit: contain;
				}
			}
	
			.content {
				flex: 1;
				padding: 30px;
	
				.entry-title {
					font-size: 1.9rem;
					
					a {
						text-decoration: none;
					}
				}
		
				img {
					max-width: 500px;
				}
		
				p {
					color: $color_black;
				}
		
				.entry-footer {
					a {
						text-decoration: none;
						color: $color_black;
						padding-bottom: 6px;
						//border-bottom: 1px solid $color_black;
					}
				}
			}
	
			
		}
	}
}