
.template-contacts {

	#main {
		
	}

	section {
		margin-bottom: 60px;
	}

	.lieu_container {
		display: flex;
		padding: 12px;
		background-color: $color_lightgrey;
		margin-bottom: 20px;

		.icon {
			font-size: 1.7rem;
		}

		.contenu {
			padding-left: 20px;
			flex: 1;

			.lieu {
				color: $color_black;
				font-weight: 700;
			}

			p:last-child {
				margin: 0;
			}
		}
	}

	.contact_utile_container {
		margin-bottom: 20px;

		.nom {
			color: $color_gris;
			font-weight: 700;
			margin-bottom: 4px;
		}

		.moyens_contact {
			margin-top: 4px;
			a { text-decoration: none; }

			.telephone, .email {
				color: $color_rouge;
			}
		}
	}
	

	@include media-breakpoint-down($responsive_breakpoint) {

		.site-main {
		    padding: 0;
		}

		section .content {
			width: 100% !important;
		}
		
	}

}


