
.acf_postbox {

	.field_type-text {
		margin-bottom: 0;
		padding-bottom: 0 !important;

		.label {
			margin: 0;
		}
	}
}

.acf-field {
	padding: 4px 12px !important;
	padding-top: 10px !important;
}

.acf-accordion {
	

	> .acf-input {
		background-color: #eeeeee;
	}
}

.column-is_protected {

	width: 20px;

	.fa-lock {

	}

	.fa-lock-open {
		opacity: 0.3;
	}
}

.status-reported > * {
	background-color: rgba(red, 0.3);
}

/*#wpseo_meta {
	display: none !important;
}*/

.wp-admin {
	form {
		.mce-container-body {
			.mce-btn[aria-label="Insert WP User Avatar"] {
				display: none;
			}
		}
	}

	#commentsdiv {
		.author {
			* {
				display: none;
			}
			strong, strong img {
				display: block;
			}
		}
	}
}